[2018-03-11 05:17] PedroAlvarado opened #1 "Add subscription support using MQTT over Websockets."
It looks this client doesn't support subscriptions via MQTT over Websockets. It'd be great to have this feature available in the Android client.

[2018-03-12 18:49] rohandubal commented on #1
Hello @PedroAlvarado ,

Thanks for submitting this feature request. I will keep this thread updated on when we add this feature.

Thanks,
Rohan

[2018-03-15 15:58] minbi commented on #1
Hi @PedroAlvarado,

We have just released version 2.6.16 with subscriptions. Please check it out and let us know your thoughts!

[2018-03-15 15:58] #1 closed

[2018-03-21 09:42] zjye opened #2 "Offline persistent cache not working"
I am following the steps by steps guide in the aws appsync, and i cloned the example repository.

In simulator
1) Turn off mobile data
2) Add event
3) Back to the event list
4) Refresh, new Event is not added

Am i missed out any settings?

[2018-03-21 09:46] #2 closed

[2018-03-28 23:39] fedeperez89 opened #3 "Authentication stops working when OkHttpClient is added"
When building a `AWSAppSyncClient` if a `OkHttpClient` is provided to the builder, authentication will stop working.

Example:
[code]

Looking at the `AWSAppSyncClient` this part seems to be the issue:
[code]
I think the authentication interceptor should also be added if `okHttpClient` is not null.
Is it ok if I send a PR?

[2018-04-02 17:51] minbi commented on #3
Hi @fedeperez89 ,

You may send a pull request. The authentication interceptor should be added in both cases when null and not null. Thank you for your feedback. We will fix this in the next release.

[2018-04-03 22:51] #3 closed

[2018-05-02 07:21] sargentin opened #5 "Subscriptions with IAM does not work propely"
I'm using IAM authentication (access key and secret key), so that users can share their locations in real-time. For that, I created a subscription that works fine in queries console of AppSync. But when I implemented it in my app, it does not work properly.

Here is a use case :

1. user A access to the map, see his location, and a subscription is opened to locations
2. user B does the same thing

[2018-05-02 08:40] sargentin opened #6 "App crashes when subscriptions are cancelled"
Hi,

In my app, I have an map activity in which users share their locations.
I use a subscription that starts in Activity.onResume() method and cancels in Activity.onPause().
If user leaves the activity and receives a new location from subscription at the same time, the app crashes in onResponse() method of AppSyncSubscriptionCall.Callback, because the view no longer exists.

Is there a way to pre

[2018-05-02 08:50] sargentin opened #7 "MqttService keep working even if subscription is cancelled"
Hi,

When I cancel subscription on changing activity, why MqttService keep working with the following logs :

`05-02 10:48:36.084 13552-3743 D/AlarmPingSender: Success. Release lock(MqttService.client.ndbexhommzflhkswq7nlvxysk4):1525250916084
05-02 10:48:38.562 13552-13552 D/AlarmPingSender: Sending Ping at:1525250918562
05-02 10:48:38.577 13552-13552 D/AlarmPingSender: Schedule next alarm at 1525

[2018-05-03 16:54] minbi commented on #5
Hi @sargentin ,

Do you see any errors being reported in the `onFailure` callbacks when user B sends his location?
Are you trying this on two devices or are you using one device for both user A and B?
Would you be able to share any code?

Standard info questions:
Which SDK version are you using? latest is 2.6.17
Is this device or emulator?

[2018-05-03 16:58] minbi commented on #7
Hi @sargentin ,

We will investigate shutting down the service when the last subscription is cancelled.
Thanks for your report.

[2018-05-05 16:08] sargentin commented on #6
Hi @minbi , thx for this tips.

[2018-05-05 16:27] sargentin commented on #5
Hi @minbi,

I use two real devices, and sometime add an emulator.
The SDK version is the latest 2.6.17.
I read your answer about WeakReference class, I'll take a look at this.
Finally, because of the short time remaining to complete my app, I choose to replace the subscription by calling my location graphql query every X seconds.

Best regards,

Steeve

[2018-05-05 16:27] #5 closed

[2018-05-07 18:09] sargentin commented on #7
Ok thx !

[2018-05-13 04:02] coder4humanity opened #9 "Support for OpenID Connect"
Hi,

I noticed OpenID Connect now shows up as a new authorization method for AppSync on the dev guide [here](https://docs.aws.amazon.com/appsync/latest/devguide/security.html), wondering if there is an ETA on this new feature.

Thanks

[2018-05-15 15:30] coder4humanity commented on #9
Hi @minbi ,

Thank you so much for the prompt update to the SDK.

[2018-05-15 15:30] #9 closed

[2018-05-21 02:48] SudarAbisheck opened #10 "Build fails with AppSync Gradle plugin version 2.6.18"
The build is failing during the `afterEvaluate` phase.

[code]

I think the recent change which made `NodePlugin` as `compileOnly` dependency in gradle is what causing the issue. https://github.com/awslabs/aws-mobile-appsync-sdk-android/blob/a57a80a7f31085115bb1b7479d88dc3d89f994d3/aws-android-sdk-appsync-gradle-plugin/build.gradle#L15

[2018-05-21 04:17] SudarAbisheck commented on #10
I tested the plugin locally and changing `compileOnly` to `compile` fixes the issue.

[2018-05-21 06:04] SudarAbisheck opened #11 "SDK doesn't upload Complex objects to S3 if the input object of a mutation has fields which are of type "S3ObjectInput""
The SDK uploads Complex objects to S3 only if the query document has the text "S3ObjectInput" [[1]].

However, the text "S3ObjectInput" will be only present in the query document only if the input object of the mutation is of type "S3ObjectInput".
[code]
The query document will not have the word "S3ObjectInput" in cases like the following. Here, `UserInput` has another object called `pic` which is

[2018-05-21 19:27] #10 closed

[2018-05-21 21:50] igormatheus22 commented on #11
Same problem here.

[2018-05-22 10:22] dy08 opened #13 "Memory Leak from the AWSAppSyncClient"
What happened:
When working off from the official sample app, aws-mobile-appsync-events-starter-android,
I kept getting memory leaks from the AWSAppSyncClient instance,
which is declared as a static volatile variable in ClientFactory.java.

[code]

AppSync SDK Versions tried : 2.6.16 & 2.6.19

What I have tried:
- Setting the AWSAppSyncClient to null on Activity's onDestroy method.
--> This solved

[2018-05-30 12:40] KasemJaffer opened #14 "Executing subscriptions with multiple response types does not work."
It only works when I execute one subscription. More than one subscription leads to unexpected behavior like dropping connection or only one of the running subscription working and the rest not.

[2018-05-30 15:22] KasemJaffer commented on #14
Thank you for the quick reply,

I'm using Cognito User Pools Authorization method. Only one subscription is allowed for this type of authorization as well?

[2018-05-30 18:31] minbi commented on #14
Thanks for the report, we will try to reproduce this issue

[2018-05-31 16:13] rohandubal commented on #11
Hi @SudarAbisheck

Thanks for reporting this. You are right, currently the SDK checking in limited ways about determining if there is complex object present in the mutation. We can surely enhance the checking mechanism.

To make sure we add the right checks, could you elaborate what is your use-case currently? Is the 2nd example which you posted in the issue the exact use-case which you have?

Tha

[2018-05-31 16:21] minbi commented on #13
Thanks for the detailed report. We will look into removing these references as much as possible.

[2018-05-31 21:47] jakebonk opened #15 "Support for writeQuery and readQuery"
I noticed that ReactJS has support for writeQuery and readQuery and was wondering how far along this feature is for Android?

Thanks

[2018-06-01 15:06] sargentin commented on #14
@KasemJaffer,
No, Cognito User Pools authorization allows multiple subscriptions, as well as IAM.

[2018-06-04 17:43] minbi commented on #15
Can you elaborate what are the features you expect with writeQuery and readQuery?

The cache store is available through AWSAppSyncClient#getStore()

[2018-06-06 02:03] jakebonk commented on #15
Will this be able to update queries that were cached? Also is there any documentation you could link on using getStore?

[2018-06-07 01:50] yong0726 opened #16 "Exception at AppSyncSigV4SignerInterceptor"
In our production app, the below crash has been detected many times via Firebase Crashlytics. please help me.

[code]

The below is our initialized code.

[code]

the SDK version is 2.6.17

[2018-06-07 20:03] rohandubal commented on #16
Hi, This might be a transient error due to network not being available. One improvement which we can do on this is to catch the error in the SDK and surface it in `onError` callback, so that the request can be retried if desired and also not cause a crash. Would this work for you @yong0726 ?

Thanks,
Rohan

[2018-06-07 20:15] yong0726 commented on #16
@rohandubal I think it would be better if the SDK can retry automatically by itself when the network comes back to normal. because automatic management of network connection is one of the main feature of AppSync.

Regards,
Yongjae

[2018-06-08 04:22] dy08 opened #17 "'compile' instead of 'implementation' complaint when building project"
Hi I am seeing a message like following when I build my project using aws-mobile-appsync-sdk-android

Configuration  'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018.

This happens due to build.gradle file in aws-mobile-appsync-sdk-android

Is there a plan to replace 'compile' keyword with 'implementation' or 'api' keyword soon?

[2018-06-08 22:54] minbi commented on #17
Hi @dy08 ,

The Gradle plugin for releasing the SDK does not support the new `implementation` and `api` keywords, so they are still using the `compile` keyword to generate dependencies. We will migrate to the new keywords when the Gradle plugin is ready.

To be clear, this question is directed at the source code in the repo and not a symptom of using the `aws-android-sdk-appsync` or `aws-android-s

[2018-06-08 22:56] minbi commented on #16
Hi @yong0726 ,

In our experience, this error does not resolve until the app is restarted or in some cases re-installed. Retrying the request would not help.

We will investigate the issue and reply here when we have more information.

[2018-06-09 08:59] dy08 commented on #17
Unfortunately this happens when I use **android-sdk-appsync (using gradle)** .
I may have setup the project in a wrong way, but please take a look at this issue.

#### dependencies for compile configuration

$ ./gradlew :app:dependencies --configuration compile

WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018

[2018-06-09 09:12] dy08 commented on #17
Unfortunately this happens when using the android-sdk-appsync with gradle

$ ./gradlew :app:dependencies --configuration compile

WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information see: http://d.android.com/r/tools/update-dependency-configurations.html

-------------------------------------

[2018-06-11 15:31] jakebonk commented on #15
I was able to figure it out, using getStore() I was able to update the cached items!

[2018-06-11 15:31] #15 closed

[2018-06-11 16:57] minbi commented on #17
Which version of the appsync gradle plugin are you using? If not 2.6.19 can you try that?

[2018-06-12 22:23] minbi commented on #14
I have tried to reproduce with 2 subscriptions running at the same time and it seems to be ok. How many are you trying to run simultaneously?

Are you using the latest version of the sdk and gradle plugin in? 2.6.19 currently.

[2018-06-13 11:32] KasemJaffer commented on #14
Only two subscriptions with different response type. I am using this version com.amazonaws:aws-android-sdk-appsync:2.6.19.

N.B. I got a different answer from the support team.
Here is the reply

[2018-06-13 13:13] dy08 commented on #17
Sorry for the late reply
I am using 2.6.19 at the moment

[2018-06-13 13:20] dy08 commented on #17
I'm sorry for the late reply
I was using 2.6.16 for the aws-android-sdk-appsync-gradle-plugin
After updating to 2.6.19, the compile warning disappeared

Thank you very much

[2018-06-13 16:58] minbi commented on #17
Closing since version 2.6.19 has fixed the issue.

[2018-06-13 16:58] #17 closed

[2018-06-13 23:39] minbi commented on #16
We have a fix that will prevent crashing, but the error will be surfaced in the `onError` callback.

[2018-06-14 19:52] minbi commented on #13
We should have patched the issues here in version 2.6.20. Re-open if necessary

[2018-06-14 19:53] #13 closed

[2018-06-14 19:53] minbi commented on #16
This issue should be resolve with release 2.6.20. Re-open if necessary

[2018-06-14 19:53] #16 closed

[2018-06-26 12:40] dy08 commented on #13
Hello,
I have been getting memory leaks from 2.6.20 as well.
One of the lines point to AppSyuncOfflineMutationInterceptor.java line # 223
this.mContext =context;
I don't see any reuse of this variable, so please take time to see if this can be removed.

[2018-06-26 12:57] dy08 commented on #7
Hello,
Do we have some progress regarding this issue?

[2018-06-28 22:30] minbi commented on #13
We will look into removing this in the next release.

[2018-06-28 22:44] #14 closed

[2018-06-28 23:31] minbi commented on #13
Please see version 2.6.21

[2018-07-03 14:03] Dawen18 opened #21 "Mixed object in response when using the cache"
#### In what version of SDK are you facing the problem? Can you try the latest version?
classpath 'com.amazonaws:aws-android-sdk-appsync-gradle-plugin:2.6.21'
implementation 'com.amazonaws:aws-android-sdk-appsync:2.6.21'

#### Is the issue limited to Simulators or Physical Devices?
Both

#### Is this problem related to a specific API level or Brand?
Tested only on SDK 27

#### Can you give us step

[2018-07-06 09:19] Dawen18 commented on #21
Sorry it was my misunderstanding that led to this error.

I did not understand that the id had to be unique in a global way.

[2018-07-06 09:19] #21 closed

[2018-07-09 07:21] turswolm opened #22 "MqttSubscriptionClient: connection lost"
Hi,

I'm facing a problem when using subscriptions with Android SDK. When I start my app subscriptions work well for some time (about 1 min). After this time connection is lost and not established any more. It seams that this happens always when I restart my app but I have not figured out a predictable behavior or why this happens.

With my JS client I don't have this issue. So I tried your sample

[2018-07-09 23:31] minbi commented on #22
Hi @turswolm ,

The logs show that the subscription is completed which means in the `onCompleted` method you can either choose to allow the subscription to end or restart the subscription.

[2018-07-11 07:40] turswolm commented on #22
Thank you for your quick response.

I don't think that it's designed behavior that a subscription ends unexpected after some time and I have to subscribe again in the `onCompleted()` method.  In my opinion a subscription should last until I unsubscribe.

The question is, why the connection is lost again and again and why no reconnect is done. I can see no reason. My app (or even the Android emulat

[2018-07-22 11:21] dy08 opened #24 "Is there a recommended proguard configuration?"
## To help us solve your problem better, please answer the following list of questions.

#### In what version of SDK are you facing the problem? Can you try the latest version?
2.6.22

#### Is the issue limited to Simulators or Physical Devices?
Both

#### Is this problem related to a specific API level or Brand?
No

#### Can you give us steps to reproduce with a minimal, complete, and verifiable

[2018-07-31 14:34] mllrmat commented on #7
I have the same problem. Is there a solution?

[2018-07-31 15:56] mllrmat opened #25 "Subscription is not canceled if user is logged out"
I have a subscription running, which is working fine. I authenticate my user with cognito pools. When I sign-out my user I am calling subscriptionWatcher.cancel(); But the subscription still stays active. The output in the Log then is: RealSubscriptionManager: No listeners for message: {"data"....

This is potentially a security issue.

#### Attached the logcat output from the logout and then a su

[2018-07-31 18:09] desokroshan commented on #25
@mllrmat, Thanks for reporting. This is a duplicate of [Issue#7](https://github.com/awslabs/aws-mobile-appsync-sdk-android/issues/7).
Closing.

[2018-07-31 18:09] #25 closed

[2018-08-01 08:11] mllrmat commented on #7
Can I somehow help with the investigation on this issue? The status has not been changed for 3 month now. This is a blocking issue with a huge security issue.

As the issue #25 has been closed I am adding some concerns here: A user is logged in via cognito user pools on one device and starts a subscription. Signs out. Signs in to another device and . In this scenario the first device is still rece

[2018-08-01 16:36] minbi commented on #7
Hi @mllrmat ,

I understand your concern. The connections are not currently being terminated when the subscription is cancelled. They do released the callback and free the memory that the callback was holding onto.

[2018-08-06 15:12] lglossman commented on #22
Same problem here. I have narrowed the problem to Android 8.0 or greater. Also when restarting subscription sometimes it throws a `ConcurrentModificationException`.

[2018-08-06 17:15] minbi commented on #22
Hi @lglossman ,

Can you provide a stacktrace for the `ConcurrentModificationException`?

[2018-08-07 12:57] lglossman commented on #22
` java.util.ConcurrentModificationException
        at java.util.HashMap$HashIterator.nextNode(HashMap.java:1441)
        at java.util.HashMap$KeyIterator.next(HashMap.java:1465)
        at com.amazonaws.mobileconnectors.appsync.subscription.RealSubscriptionManager$1.onError(RealSubscriptionManager.java:193)
        at com.amazonaws.mobileconnectors.appsync.subscription.mqtt.MqttSubscriptionClient

[2018-08-08 20:18] lglossman commented on #22
@minbi Is onError a terminal event? I ask this because I need to restart the subscription and I'm not sure if i should be doing that on both onComplete and onError.

[2018-08-10 22:50] minbi commented on #22
@lglossman ,
The concurrent modification issue should be fixed with version 2.6.24.
The `onComplete` will signal that the subscription has completed due to cancellation or a connection loss.

[2018-08-14 01:58] minbi commented on #24
The warnings you listed can all safely be ignored **IF** you are not using those features.

Warnings for `S3ObjectManagerImplementation` require the S3 library if you are using complex objects.
Warnings for `BasicCognitoUserPoolsAuthProvider` require the CognitoIdentityProvider library if you are using Cognito UserPools as your authentication mechanism.

[2018-08-14 08:06] dabeidl commented on #22
How can I distinguish between the two cases that the subscription has completed due to cancellation or a connection loss?

[2018-08-19 14:33] michaelschwinges opened #30 "Completion hander for S3ObjectManager.download()"
## To help us solve your problem better, please answer the following list of questions.

#### In what version of SDK are you facing the problem? Can you try the latest version?

AWS AppSync SDK version 2.6.16

#### Is the issue limited to Simulators or Physical Devices?

Both, I have an API question.

#### Is this problem related to a specific API level or Brand?

No.

#### Can you give us steps t

[2018-08-20 08:55] AlpacaGoesCrazy commented on #21
Actually id should not be global. Normalized cache should store data with keys which consist of Type name plus id for regular types and Query name with specified parameters for cached query responses.
This is how it works in aws mobile appsync sdk for JS right now. And for android one the cache is simply unusable.
Just try caching query responses for queries with complex input type parameters (spo

[2018-08-20 17:55] kvasukib commented on #30
@michaelschwinges Thank you for reporting to us. The S3ObjectManager interface exposed provides the contract for upload and download in a synchronous fashion using the PutObject and GetObject methods provided by the AWS Android SDK for S3 low-level interface.

We will take this as a feature request to the team to support asynchronous interfaces for uploading/downloading files to/from S3.

You can

[2018-08-21 17:10] michaelschwinges commented on #30
Thank you for replying so quickly. I'm aware of the link. I hope you don't mind if I give just my own piece of feedback on the documentation in that link and the GitHub example it links to. It's only my experience maybe programmers more experienced than I don't run into these issues, but hopefully it's helpful to the team.

The document is fairly clear on how to get Complex Objects working, i.e. a

[2018-08-21 20:19] kvasukib commented on #30
@michaelschwinges Thank you for taking the time to give us detailed feedback. This is valuable to us. I will convey the feedback to the team and we will have a reply to address your concern soon.

[2018-08-22 15:11] mllrmat opened #31 "Mqtt subscriptions fail when bluetooth printer is connected"
I am using appsync subscriptions on a android 5.0.2 device. They work when the device is just connected to the wlan. As soon as I connect a bluetooth printer to the device they fail. Normal queries/mutations work fine, just the subscriptions fail without any message.
When I restart the app after the printer is connected subscriptions work again.

I trying this with 'com.amazonaws:aws-android-sdk-a

[2018-08-22 22:37] undefobj commented on #30
@michaelschwinges thanks for your feedback here. I work on both the AppSync and SDK library team and would like to chat with you further if you're open to a phone call. Could you email me richthr_at_amazon.com  (replace the _at_ with @).

[2018-08-23 21:36] cbommas commented on #31
@mllrmat

Can you add any logs/stacktraces and a code snippet to help debug this further?

[2018-08-27 12:47] SudarAbisheck commented on #11
I can see that issue hasn't been fixed yet. Still, the SDK just checks the query document for the term `S3ObjectInput`. Some query document need not have this word as part of the query.
[code]
The same issue exists in the iOS SDK as well. https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/45

[2018-08-30 21:29] kvasukib commented on #22
@turswolm @lglossman @dabeidl What versions of Paho client and MQTT Service client are you using?

[2018-08-30 21:30] kvasukib commented on #24
@dy08 Closing this issue. If there are further questions, please feel free to reopen the issue.

[2018-08-30 21:30] #24 closed

[2018-08-31 14:34] dabeidl commented on #22
org.eclipse.paho:org.eclipse.paho.client.mqttv3:1.2.0,
org.eclipse.paho:org.eclipse.paho.android.service:1.1.1
and com.amazonaws:aws-android-sdk-appsync:2.6.25

[2018-09-05 08:14] SahajRana opened #32 "App sync subscriptions doesn't return response if something is done when offline."
App sync subscriptions doesn't return response if changes are done in one device, but other device is offline and after sometime turned online.

#### In what version of SDK are you facing the problem? Can you try the latest version?
    implementation 'com.amazonaws:aws-android-sdk-appsync:2.6.20'
    implementation 'com.amazonaws:aws-android-sdk-appsync-compiler:2.6.20'
    implementation 'org.ec

[2018-09-05 17:52] undefobj commented on #32
In order to get the missed events you will need to re-run a query for the results to populate the cache of a device that was offline. We're working on an enhancement to this functionality in the coming weeks so please stay tuned. However if you'd like to chat offline about this functionality please email me richthr_at_amazon.com (replace the at with @) .

[2018-09-05 19:16] SahajRana commented on #32
Yaa, after i posted this question, i realized that it might be the reason why it is not there and yaa sure, thanks!

[2018-09-06 13:21] danielvtan opened #33 "http fails to execute after offline mutation"
steps:
offline mutation
turn internet on
mutation fails

sdk version: 2.6.25 (latest)
device type: emulator
[code]

#### Please include a stacktrace if applicable.

[code]

[2018-09-06 13:52] danielvtan commented on #33
running the sample
https://github.com/aws-samples/aws-mobile-appsync-events-starter-android

produces the same error.

[2018-09-06 18:11] rohandubal commented on #33
Does this only happen on first offline mutation or all offline mutations? Do the normal mutations go through fine?

[2018-09-06 18:58] danielvtan commented on #33
I tested a bit more.
Doing offline mutation closing the app and opening it up again then turning the internet makes it work.
So basically i think the persistent cache is working. The in memory is the one that fails.

I think that is also the reason why my temp solution works because it forces appsync to store the mutation in the persistent cache.

[2018-09-06 19:14] rohandubal commented on #33
Thanks for the details @danielvtan I will investigate the issue.

[2018-09-09 17:44] danielvtan commented on #33
I got a temporary fix working. I edited the appsync sdk a bit. Here is what i did.

I removed the  in memory mutation by removing this line
[code]
//PersistentOfflineMutationManager
persistentOfflineMutationObjects = fetchPersistentMutationsList();
        persistentOfflineMutationObjectMap = new HashMap<>();
        for (PersistentOfflineMutationObject object: persistentOfflineMutationObjects) {

[2018-09-14 19:15] cbommas commented on #30
@undefobj @michaelschwinges
I understand that the two of you have synced up offline. I'll go ahead and close out this issue -
Please feel free to reopen if you believe there are action items that need to be tracked.

[2018-09-14 19:15] #30 closed

[2018-09-17 12:12] danielvtan opened #40 "AppSync deletes mutation before calling http that leads to lost of data"
**Describe the bug**
PersistentOfflineMutationManager.java deletes mutation even before successful http call leads to data loss

**Expected behavior**
mutation should only be deleted after a successful http call
deletion of mutation should be call after httpCall.enqueue on success response
should be retried on fail
.

**Environment(please complete the following information):**
 - AppSync SDK Versi

[2018-09-24 13:09] cbommas commented on #22
@turswolm @dabeidl @turswolm
The latest rev of the SDK (2.6.26) contains a fix for the dropped connections. Can you try it out and let us know how it goes.

[2018-09-25 22:47] timowilson-fluke opened #45 "Subscriptions are closed when wifi is disabled even if there is a cellular connection."
**Describe the bug**
Mutation subscriptions are closed when wifi is disabled even if there is a cellular connection available. The "onCompleted" method of the subscription callback is called when wifi is disabled. And "re-subscribing" during the "onCompleted" method will result in a exception being thrown.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a subscription for a mutation.
2

[2018-10-03 08:04] danielvtan opened #46 "Does the cached credentials renew automatically when creating mutation offline?"
**State your question**
Login online
Add cached credentials provider for access to s3
Go offline
Create mutation with s3 upload
Wait until expiration
Go online
Does the cached credentials renew automatically and complete the mutation?
Or will the mutation fail?

**Environment(please complete the following information):**
 - AppSync SDK Version: 2.6.+

[2018-10-03 16:59] cbommas commented on #46
@danielvtan

The cached credentials will be renewed if required ( they will only be fetched if the SDK detects that the credentials have expired ) and the mutation will be completed.

I am curious about the question - are you running into issues and suspecting credentials failures?
If so, can you please provide stacktraces/code snippets to help debug.

[2018-10-03 17:30] cbommas commented on #31
@mllrmat
I am closing this issue as I haven't heard back from you. Please feel free to reopen if you are still encountering this issue.

[2018-10-03 17:30] #31 closed

[2018-10-03 17:33] cbommas commented on #22
@turswolm @dabeidl @lglossman

Just checking back to see if you are still facing the issues with the new rev of the SDK.

[2018-10-03 22:33] janeshenamazon commented on #11
Issue still exists - Instead of checking the S3ObjectInput string in the document, we should be looping through the input variables, and check if any is `instanceof S3InputObjectInterface`. This will be the more flexible approach.

[2018-10-04 05:02] danielvtan commented on #46
@cbommas

I asked here before i tested yesterday because it takes at least an hour to test this.
I already tested it and i was having issues. I cannot post the stacktrace because i already made a solution and can't wait for an hour to test it again.
The issue happens when i make a mutation offline then go online after an hour.
Error is something like  "token is already expired with timestamp < tim

[2018-10-05 09:28] ashishbisht2808 opened #47 "ApolloParseException - Failed to parse http response - java.lang.ClassCastException: java.math.BigDecimal cannot be cast to java.lang.String"
Getting the exception while parsing in parse(Operation operation, okhttp3.Response httpResponse) method of ApolloParseInterceptor.class

[2018-10-08 18:18] kvasukib commented on #47
@ashishbisht2808 Thank you for reporting to us. Sorry for the inconvenience caused.
1) Version of Android
2) Version of AWS SDK for Android - AppSync
3) Code snippet
4) What operation are you doing with AppSync

[2018-10-16 03:21] mmarceau opened #50 "When a conflict occurs and ConflictResolver is invoked, GraphQL.Callback is not called back"
**Describe the bug**
As a dev, I should be able to fail in a conflict resolver and have that failure come back as an onFailure callback in GraphQL.Callback with a special code telling me the failure was do to a conflict.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a mutation in AppSync that will conditionally update based on expectedVersion. (i.e. there is a template for this)
2.

[2018-10-16 12:49] Rissmon opened #51 "Getting nullpoint exception when calling mutation"
**Getting nullpoint exception when calling mutation with invalid id**
I am having an issue with AppSync SDL. My application getting crashed when I try to update a value corresponding to an id which is not present in dynamo DB.

Environment:

    AppSync SDK Version: 2.6.26

Device Information:

    Device: Samsung J8, Redmi Note 5 Pro
    Android Version: Marshmallow 6.0, Oreo 8.1

***Since the ex

[2018-10-21 17:04] ashishbisht2808 commented on #47
when from the server side we change the type int to id , then it is working fine but when we have any int value then on client side we are getting the exception although in iOS it is working fine

[2018-10-24 03:49] 472574155 opened #53 "ConcurrentModificationException"
**Describe the bug**
When multiSubscription using, unexpectly exception happened.

**To Reproduce**
Steps to reproduce the behavior:
When net changed, easily happened

**Expected behavior**
java.util.ConcurrentModificationException
        at java.util.HashMap$HashIterator.nextEntry(HashMap.java:851)
        at java.util.HashMap$KeyIterator.next(HashMap.java:885)
        at com.amazonaws.mobilecon

[2018-10-25 18:12] cbommas commented on #7
@mllrmat @dy08 @sargentin

Sorry for the delay on this issue - we have identified a fix and are in the process of testing it. I am hoping to include it in the next rev of the SDK. Will post back here once I have confirmation.

[2018-10-25 18:15] cbommas commented on #45
@timowilson-fluke

We are working on including reconnect capability in the SDK for subscriptions to handle unexpected disconnects. I  am hoping to get this included in the next rev of the SDK. I will post back on this thread once I have confirmation.

[2018-10-29 23:18] cbommas commented on #53
@472574155
I double checked Maven and tried to reproduce the error, however I wasn't able to.
Can you share your build.gradle file?

My build.gradle contains

          implementation "com.amazonaws:aws-android-sdk-appsync-gradle-plugin:2.6.+"
          implementation "com.amazonaws:aws-android-sdk-appsync:2.6.+"

and this pulls down the latest version when I do a gradle sync.

[2018-10-29 23:29] cbommas commented on #51
@Rissmon

Sorry to hear that you are running into issues. I will investigate this further on my side. Can you provide some more information to help debug this - specifically, can you share your appsync schema and a code snippet from your client.

[2018-10-30 02:20] 472574155 commented on #53
@cbommas
This issue still happened.
My build.gradle contains
`
implementation 'com.amazonaws:aws-android-sdk-appsync:2.6.26'
implementation 'com.amazonaws:aws-android-sdk-s3:2.7.2'
implementation 'com.amazonaws:aws-android-sdk-cognito:2.6.30'
implementation 'com.amazonaws:aws-android-sdk-mobile-client:2.6.31'
implementation 'com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.7.2'
implementati

[2018-10-30 02:20] 472574155 commented on #53
@cbommas
This issue still happened.
My build.gradle contains

implementation 'com.amazonaws:aws-android-sdk-appsync:2.6.26'
implementation 'com.amazonaws:aws-android-sdk-s3:2.7.2'
implementation 'com.amazonaws:aws-android-sdk-cognito:2.6.30'
implementation 'com.amazonaws:aws-android-sdk-mobile-client:2.6.31'
implementation 'com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.7.2'
implementatio

[2018-10-30 06:23] manum176 opened #54 "Subscriptions Not Triggering Sometimes Even Though There Is Stable Internet"
We are using the SDK for an android project. When the mutations are triggered from backend (Lambdas, APIs, etc.) the subscriptions are not getting invoked sometimes even though the internet connection is stable. After 3-4 retries, it will get invoked

**Expected behaviour**
The subscriptions should trigger in any case if there is a stable internet connection

**Environment:**
 - AppSync SDK Versio

[2018-10-30 11:52] Rissmon commented on #45
@cbommas
Hi,
We are facing the same issue with AWS AppSync SDK. Any update regarding the planned date for the next release version of SDK.

[2018-10-31 11:23] 472574155 commented on #53
@cbommas
Have you checked the jar file?
http://central.maven.org/maven2/com/amazonaws/aws-android-sdk-appsync/2.6.26/aws-android-sdk-appsync-2.6.26-sources.jar  (Is maven url right?)
1. download file aws-android-sdk-appsync-2.6.26-sources.jar
2. (.jar) -> (.zip)
3. unzip file
4.find file (aws-android-sdk-appsync-2.6.26-sources⁩ ▸ ⁨com⁩ ▸ ⁨amazonaws⁩ ▸ ⁨mobileconnectors⁩ ▸ ⁨appsync⁩ ▸ ⁨subscription

[2018-10-31 13:37] cbommas commented on #54
@manum176

Sorry to hear that you are running into issues. One of the areas to look into is to check if your subscriptions are active and not disconnected.  Can you post logs from your logcat ( at the verbose setting) and I can look through to see if there are any connection drops. Also, can you share a code snippet from your app - specifically the subscription and the callback logic?

[2018-10-31 13:54] cbommas commented on #53
@472574155
Thank you for pointing this out. I was able to track it down -the code in the github repo was updated after the v2.6.26 release as part of this PR https://github.com/awslabs/aws-mobile-appsync-sdk-android/pull/41 which contains the fix for the issue you are seeing.

Sorry about the confusion. I will get this released in the next few days and will post back on this thread once the releas

[2018-11-01 08:50] intellignt-idiot opened #55 "Just one question"
In the response of query, I do not get json. I just get the Response_datum object. I am unable to convert this to json. While the same response in iOS is being easily converted to json. I have not found a way to convert it to json.

Here is the query :
query GetHomeLayout($app_id : String!, $api_name : String!, $current_layout : String! ){
getHomeLayout(app_id: $app_id, api_name: $api_name, curren

[2018-11-01 15:20] motae99 commented on #11
+1

[2018-11-02 05:39] 472574155 commented on #55
@intellignt-idiot
Gson gson = new Gson();
String json = gson.toJson(response);

If you  want a json without unnecessary field, you can use
  gson.toJson(Object src, Type typeOfSrc).

[2018-11-08 19:52] cbommas commented on #54
@manum176

The latest version of the SDK 2.6.27 contains a fix to set to the QoS to 1, which will give you at least once message delivery.  Please try this out and let us know how you fare.

[2018-11-08 19:54] cbommas commented on #53
@472574155
v2.6.27 is released and contains the fix. Can you please let us know how it goes with the latest rev of the SDK.

[2018-11-08 19:56] cbommas commented on #51
@Rissmon
v2.6.27 contains the fix for this issue. Please try with the updated SDK and let us know how it goes.

[2018-11-09 08:38] manum176 commented on #54
@cbommas
Thanks

Since the realtime updates were much critical for our project, we could not continue on with AppSync. So we moved to some alternate solutions and hold AppSync for the time being.

However, we will check this and let you know.

[2018-11-09 11:29] 472574155 commented on #53
@cbommas  thanks.

[2018-11-09 11:29] #53 closed

[2018-11-09 14:48] cbommas commented on #54
@manum176
sorry to hear that. Please let me know if you'd be willing to jump on a call with us to discuss your usecases/scenarios and the issue that you faced.

[2018-11-09 14:51] cbommas commented on #45
@Rissmon

I don't have a final date yet. I will let you know once I have more information - unfortunately, this fix did not make it into v2.6.27

[2018-11-09 15:09] manum176 commented on #54
@cbommas
Yes, we are ready for a call to discuss the issues. Please let me know how I can contact you

Thanks

[2018-11-09 17:50] cbommas commented on #54
@manum176

Excellent. Please email ( chabom at amazon.com ) and I can get a bridge setup and invite folks from my side.

[2018-11-12 06:56] intellignt-idiot opened #58 "How to receive pending subscription on Android app, when it restarts after a force close?"
I am using AppSync version 2.6.+ . I checked , when I force close the app and a subscription is triggered, it is not received by the app. This is because my app was force closed or was completely closed.

Now when I restart my app, I still do not get that pending subscription. Does it mean, if I miss a subscription, I will never receive it ? The only way is to manually query for that particular ta

[2018-11-13 05:32] cbommas commented on #58
@intellignt-idiot

Unfortunately, what you have observed is how the system currently works.  If your app is closed when a mutation triggers your subscription, that message will not be received by the app.

When you restart the app and re-subscribe, the system will treat is as a new subscription and will not send the pending/missing messages from the previous subscription to it. So the only way to

[2018-11-14 15:23] richienko opened #59 "How to handle multiple subscriptions in Android?"
**State your question**
How to handle multiple subscriptions in Android? Can someone post working snippet? I get working only first initialized subscription in application.
I'm not using API key authorization.

**Provide code snippets (if applicable)**
[code]
Everytime only sub1 is executed.

**Environment(please complete the following information):**
 - AppSync SDK Version: 2.6.25

**Device Infor

[2018-11-14 15:52] cbommas commented on #59
@richienko

Release 2.6.26 had a bunch of fixes around the subscription logic. Can you upgrade to the latest version and try again?

Also, here is an example of how multiple subscriptions work.
https://github.com/awslabs/aws-mobile-appsync-sdk-android/blob/03d8d3b5995eff87073bdb4b0cd142c2942c1ef1/aws-android-sdk-appsync-tests/src/androidTest/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncQu

[2018-11-15 03:14] huforrest opened #60 "App crashes when app is running"
App crashes when app is running especially when app come into foreground from background. I guess that the problem lies in the cached database. The cursor is not closed when executing the database operation. And here is the snapshot of the crash log.
![488499a5-d644-4b8c-81fb-8a63693831fd](https://user-images.githubusercontent.com/23306480/48527878-8d350c00-e8c7-11e8-9c89-bb5e04d578d2.png)

[2018-11-15 06:16] muellerfr commented on #60
Hello @huforrest,

Do you have a call stack or repo steps you can share with us?

[2018-11-15 09:02] richienko commented on #59
Yep, it helped a lot.
Thank you very much @cbommas !

[2018-11-15 09:02] #59 closed

[2018-11-15 11:13] intellignt-idiot commented on #58
@cbommas

Alright. Thanks for the clarification. Waiting for a solution in the upcoming versions.

[2018-11-15 17:02] cbommas commented on #58
@intellignt-idiot

Sounds good. I will close out this issue.

[2018-11-15 17:02] #58 closed

[2018-11-15 17:03] cbommas commented on #54
@manum176

Just checking back as I haven't heard from you via email.

[2018-11-15 17:10] cbommas commented on #54
@manum176
Apologies - i see that you sent me an email earlier today. Lets continue the conversation there.

[2018-11-15 17:10] #54 closed

[2018-11-15 18:36] muellerfr commented on #51
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-11-15 18:36] #51 closed

[2018-11-16 02:01] huforrest commented on #60
We are developing a chat app. Sorry to tell you that it is difficult to provide you sample code, call stacks or repo steps. For now we can only provide you the appsync SDK. Appsync SDK: v2.6.27. The bug occurs sometimes. Yesterday we installed the bug collecting tools. And when the bug occurs again, I will tell you the detail information.

[2018-11-16 02:05] cbommas commented on #60
@huforrest

It is not possible to make progress on the issue without the sample code/stacktraces and repo steps. I will go ahead and close this issue - please reopen this issue ( or open a new one) when you have more data.

[2018-11-16 02:06] #60 closed

[2018-11-16 06:13] gilzhaiek opened #61 "How do you handle HTTP 403 ApolloParseInterceptor.java line 147"
We seem to get lots of HTTP 403 at ApolloParseInterceptor.java line 147.

During sign-up / sign-in, we try to get auth token (we have few methods) and small portion of our users are getting HTTP 403.
1. Is this normal?
2. What can be the case - 99% of our clients are ok, but some have 403s

Here is an example of the same user (Galaxy S6) who experience this issue on few of the apis:
https://cl.ly/

[2018-11-16 08:51] huforrest opened #62 "The app crashes when the sdk is launched"
**Describe the bug**
The app crashes when the sdk is launched

**Environment(please complete the following information):**
 - AppSync SDK Version: 2.6.28

**Device Information (please complete the following information):**
 - Device: LLD-AL00 UNROOT
 - Android Version: Android 8.0.0, level 26
 - CPU Architecture: aarch64

**Additional context**
The bug only occurs when we use the HUAWEI device.

H

[2018-11-16 13:58] cbommas commented on #62
@huforrest

Thanks for providing the stacktrace. Can you also post the contents your logcat and code snippet from your app initialization logic to help debug this further.

[2018-11-17 02:13] J-L commented on #61
Also has been experienced on iOS client.

Authentication method IAM

[2018-11-19 17:36] olga-dorogan opened #65 "How do you handle java.lang.IllegalStateException at RealAppSyncCall.java:350"
We have a lot of IllegalStateException at RealAppSyncCall.java:350.

After user logs in, our app subscribes to the topic, run some queries and mutations.
First time we faced the issue when the same mutations were processed almost simultaneously, so we got rid of them by cancelling all previously started before starting new one.
But it helps only for this case

How can we handle the exception?

Her

[2018-11-19 17:40] cbommas commented on #65
@olga-dorogan

Let me investigate this and get back to you.

[2018-11-21 01:39] cbommas commented on #7
@mllrmat @dy08 @sargentin
The latest version of the SDK 2.7.0 contains a fix for this issue. Please try this on your side and let us know how it goes.

[2018-11-21 01:42] cbommas commented on #32
@SahajRana

The latest version of the SDK 2.7.0 contains support for a sync feature that  will enable you to catch up with changes that your app missed when you were offline. Please see  the Delta Sync section on this page https://aws-amplify.github.io/docs/android/api for more information.

[2018-11-21 01:45] cbommas commented on #45
@Rissmon
The latest version of the SDK 2.7.0 has the reconnect capability built into it. With this functionality, the subscription will be automatically retried and setup if it were to go down due to temporary network outages or transitioned from one network to the other.

[2018-11-21 01:49] cbommas commented on #62
@huforrest

Just checking back to see if you had a chance to get the logcat and code snippets.

From the stacktrace I see that you are experiencing an OutofMemory error when starting the paho service that manages the MQTT connectivity, but I don't have any way of analyzing it further without the information that I requested.

[2018-11-21 05:08] yhkwon44 commented on #7
It shows it is not fixed.

I test it by attaching button and just call " subscriptionWatcher.cancel(); "

my log here:
2018-11-21 14:03:07.116 27824-27824/com.jfouhamazip.messengers.example I/TEST: destroy
2018-11-21 14:03:07.116 27824-27824/com.jfouhamazip.messengers.example I/TEST: **call subscriptionWatcher.cancel**
2018-11-21 14:03:07.117 27824-27824/com.jfouhamazip.messengers.example V/RealSu

[2018-11-21 16:14] timowilson-fluke commented on #45
Thanks, I'll try it out.

[2018-11-22 12:01] 472574155 commented on #62
@cbommas
AppSync SDK Version: 2.6.28
Device: SO-02J
Android Version: Android 8.0.0, level 26
`    // aws
    implementation 'com.amazonaws:aws-android-sdk-appsync:2.6.+'
    implementation 'com.amazonaws:aws-android-sdk-s3:2.8.+'
    implementation 'com.amazonaws:aws-android-sdk-cognito:2.8.+'
    implementation 'com.amazonaws:aws-android-sdk-mobile-client:2.8.+'
    implementation 'com.amazonaws:

[2018-11-22 12:04] 472574155 commented on #62
@cbommas
By the way, com.amazonaws:aws-android-sdk-appsync:2.7.+ Application does not run smoothly.

[2018-11-23 18:56] cbommas commented on #7
@yhkwon44

Looking through the log you posted, here are my findings.

1) At the beginning of the log, before you called the cancel method, you have 5 MQTT clients in total, with ClientIDs (7cwdlwocxvdkrcpkzkt3vpk2vy, fvxb7vakffbwbifzaq34fpeeva, rgzjmxy7nnenfgk3u2mgvimioy, vy3bbwao4jgbnopwphxsh62spy, fwtlebohcfb3lclkv54vmwyqqu)
2) When you call Cancel, the logic unsubscribes from the MQTT level and

[2018-11-28 03:40] btilbrook-nextfaze opened #69 "Gradle plugin incompatible with Kotlin Android experiemental extensions"
**Describe the bug**
When using [Kotlin Android extensions experimental mode](https://kotlinlang.org/docs/tutorials/android-plugin.html#experimental-mode) in the app project, with AppSync used in a library project, the build fails.

**To Reproduce**
1. `cd` into attached project
1. `./gradlew clean assembleDebug`

**Sample project**
[AppSyncLibraryProject.zip](https://github.com/awslabs/aws-mobile

[2018-11-28 10:53] 472574155 opened #70 "How can I know the time when a subscription has been started."
**State your question**
just like iOS.
[https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/68](url)

Now,android sdk's interface 'onCompleted' is called when a subscription is terminated.

**Environment(please complete the following information):**
 - AppSync SDK Version: [2.6.28]

[2018-11-28 13:23] 472574155 opened #71 "RealSubscriptionManager: No listeners for message"
**Describe the bug**
W/RealSubscriptionManager: No listeners for message: {"data":{"onUpda......
Callback does not work properly.

Code:
OnCreateMessageSubscription onCreateMessageSubscription = OnCreateMessageSubscription
                .builder()
                .build();
onCreateMessageWatcher = appSyncClient.subscribe(onCreateMessageSubscription);        onCreateMessageWatcher.execute(new App

[2018-11-28 16:36] SahajRana commented on #32
Thanks, I will look into it!

[2018-11-28 18:38] palpatim commented on #70
Hi @472574155 thanks for the question. As you point out, there isn't an API currently that will provide status for an active connection; only a callback invoked on termination. I will bring this request to our product team for prioritization, and we will update this thread when there is more information.

[2018-11-28 18:43] palpatim commented on #71
Hi @472574155, the 2.7.0 release of the AppSync SDK includes support for "catch up" queries when reconnecting, and included some bug fixes around reconnection logic. Does this issue persist using the latest SDK version?

Also, for clarification, when you say "Do it like this as soon as possiable several times", do you mean, you background and foreground the app rapidly several times in succession

[2018-11-28 19:03] cbommas commented on #62
@472574155
I am not able to download the pdf file. To reproduce the issue on my side, it would be great if you could post the contents your logcat and code snippet from your app initialization logic to help debug this further.

[2018-11-28 23:58] palpatim opened #72 "AppsyncMutationCall retry error in Appsync Android SDK"
(Migrating this issue from the [AWS Forums](https://forums.aws.amazon.com/thread.jspa?threadID=293896&tstart=0) on behalf of forums user [ep-mt](https://forums.aws.amazon.com/profile.jspa?userID=469771))

**Describe the bug**
I'm developing a chat screen with AWS Appsync and I found an error or probably a bug when the AppsyncMutationCall fails.

I'm trying to send 4 messages (4 mutations) with my

[2018-11-29 03:57] 472574155 commented on #71
@palpatim
"background and foreground the app rapidly several times in succession to trigger this issue"   YES

**Question when updated AppSync SDK Version to 2.7.0**
When I updated AppSync SDK Version to 2.7.0 , my application can no longer working as well.
When applicaition started, UI action can not be triggered. Application jammed.

[2018-11-29 18:52] cbommas commented on #69
@btilbrook-nextfaze
Thank you very much for providing the details on how to reproduce this issue. I was able to download the sample project and reproduce the error.

It appears that the problem is that java compiler is unable to pickup the Apollo imports in the generated code. I was able to get around it by adding the appsync SDK to main project build.gradle file

    dependencies {
        classp

[2018-11-29 18:58] cbommas commented on #71
@472574155
sorry to hear that you are running into issues. I will look into this further. It would be great if you can post the contents of your logcat.

One thing I'd like you to try - can you remove the code to cancel and null out the subscription when the app goes to the background?

The latest version of the SDK has automatic reconnection logic built into it and you don't need to do special ha

[2018-11-29 21:39] btilbrook-nextfaze commented on #69
Just tried making this change, but it didn't work for me. I tried it in the sample and my real project. I also tried adding it to `app/build.gradle`:

[code]

[2018-11-30 04:57] cbommas commented on #69
@btilbrook-nextfaze

I see that you are using `implementation` instead of `classpath`. If you use `classpath` in the buildscript dependencies section, it worked for me.  Here is the full top-level build.gradle file from your sample that I adjusted to make it run

    // Top-level build file where you can add configuration options common to all sub-projects/modules.

    buildscript {
    ext.kotli

[2018-11-30 05:02] btilbrook-nextfaze commented on #69
Sorry, yes my example there was meant to indicate that I tried doing that in addition to your suggestion.

I did indeed also try adding the buildscript classpath line, without success.

[2018-11-30 17:08] cbommas commented on #69
@btilbrook-nextfaze
That is strange, as I can reproduce the error without the entry and then fix it by adding the entry.

It would be really helpful if you could attach the project one more time with the classpath entry added to the buildscript dependencies where you are encountering the error, so that I can reproduce it on my side.

[2018-12-01 01:17] cbommas commented on #72
thanks @palpatim

[ep-mt](https://forums.aws.amazon.com/profile.jspa?userID=469771),

Can you provide logs and a code snippet to help debug this further. The way the code works is that all mutations are added to a queue (regardless of whether the device is online or offline). The mutations are executed sequentially from the queue, in the order they were added.

I have added an integration test to

[2018-12-02 21:54] btilbrook-nextfaze commented on #69
Here you go:

[AppSyncLibraryProject 2.zip](https://github.com/awslabs/aws-mobile-appsync-sdk-android/files/2637453/AppSyncLibraryProject.2.zip)

[2018-12-03 05:57] muellerfr commented on #32
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-12-03 05:57] #32 closed

[2018-12-03 05:57] muellerfr commented on #45
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-12-03 05:57] #45 closed

[2018-12-03 07:30] leijdekkers opened #74 "RXJava support"
Hi,

Does appsync sdk support RxJava like Apollo?
I experimented  adapting the Rx2Apollo.java class to AppSync and I got the queries part working but not mutation.

So does AppSync properly support RxJava?

Thanks

[2018-12-03 10:00] yhkwon44 opened #75 "If subscriptionWatcher cancel too early. App is not opened"
My Code like this
onCreate
[code]

onDestroy
`subscriptionWatcher.cancel();`

When I reopen the APP after APP closed as soon as APP is opend
My App is no response.

simply
1. open the App
2. close the App Immediately.
3. reopen the App
4. No response.. just white.

* I'm in Seoul And my Appsync Server is in Ireland.. So All query is slow

[2018-12-04 01:16] 472574155 commented on #71
@cbommas
I removed the code to cancel and null out the subscription when the app goes to the background.
But there has another question happened.
When I close a chat room as soon as the room just opened, app's UI actions have no response.
It may be a question that subscription had been cancled before it had been init completed.

[2018-12-04 13:53] cbommas commented on #69
@btilbrook-nextfaze

Thank you for uploading the new zip.

I was able to get this working by also adding `com.amazonaws:aws-android-sdk-appsync-api:2.7.0` to the top level and library level build files.

Top level build.gradle
------------------
      buildscript {
          ext.kotlin_version = '1.3.10'
          repositories {
              google()
              jcenter()
           }

[2018-12-04 14:31] cbommas commented on #75
@yhkwon44

Can you post your logs? Is this the onCreate of your main activity. Also, you mentioned a white screen - how are you loading the main screen? Are you using an AppSync query?

[2018-12-04 15:14] richienko opened #76 "One object for Query and Subscription?"
**State your question**
I have query which returns `PersonConnection` type, subscription which is returning `Person` and mutation for update values. Below is the scheme.

Right now I have to use:
1. OnUpdatePersonSubscription.Data.OnUpdatePerson
2. UpdatePersonMutation.Data.UpdatePerson
3. ListPersonsQuery.Data.listPersons.items

So right now when all fields for person are updated and subscription

[2018-12-04 16:59] cbommas commented on #71
@472574155
Did the change I suggested fix the issue that you were having regarding messages making it to the callback? If so, lets close this issue and open a new one for the other question that you had.

I am just trying to keep one problem in one thread - will be helpful to others that facing similar issues.

[2018-12-04 22:43] leijdekkers commented on #74
Hope you will implement it soon. The reason is that in many Android apps, the AppSync part goes into the "Repository" part (i.e. Model in MVVM architecture) of the app where many developers use RxJava to communicate between the Repository component and the ViewModel. It is really bad practice to use the AppSync SDK in fragments/activities (i.e. the View part of the MVVM model).

Please have a look

[2018-12-04 22:50] btilbrook-nextfaze commented on #69
Those changes worked, thank you. I also had to add `aws-android-sdk-appsync-runtime`  to the library module in order to invoke AppSync Java APIs.

It seems the workaround is to add all of the transitive dependencies that would normally be added by the Gradle plugin and/or the main AppSync library dependency.

I have a feeling this is a Kotlin problem, since JetBrains seem to have [put it on their

[2018-12-04 23:02] cbommas commented on #69
@btilbrook-nextfaze

Good to hear that it worked for you. I will close out the issue.

[2018-12-04 23:02] #69 closed

[2018-12-05 00:18] 472574155 commented on #71
@cbommas
Although new happened question is the same to the issue, I will close this issue and continue to focus on #75 .

[2018-12-05 00:18] #71 closed

[2018-12-05 00:54] btilbrook-nextfaze opened #77 "Mapping AWS built-in scalar types"
**State your question**

How does one map an AWS built-in scalar type?

That is, if the schema defines:

[code]

How can we configure the code generator to output `created` with a date/time type of our choosing? Eg `ZonedDateTime`?

**Environment**

AppSync SDK Version: `2.7.0`

**Sample project**

Attached is a sample project demonstrating how I'd expect this to work, based on the Apollo document

[2018-12-05 04:49] leijdekkers opened #78 "Subscription Gotchas"
For those trying to get Subscriptions to work in their Android app and follow the sample app. The documentation leaves out some details (but are in the code which you can easily overlook!) that are essential to get Subscriptions to work in your app.

Note to AWS: Please update your description of the demo app and include a section on what to do to get subscriptions to work.

**1. Manifest File**
C

[2018-12-05 20:38] Joseph82 opened #79 "Mutations fails when not authenticated"
I am using AppSync with Cognito. The app I am building allow the user to make some mutations offline, even before the authentication is complete. Basically there is no need for the user to use the credentials, but those are auto-generated, and the app automatically signup and signin.

So, when the user start the app for the first time, offline, and make some mutations, as soon as the device goes o

[2018-12-05 20:56] cbommas commented on #33
@danielvtan @donaldarmstrong

I am investigating this issue currently. My working theory at this point is that the mutation is being removed from the queue before it is successfully processed as reported in https://github.com/awslabs/aws-mobile-appsync-sdk-android/issues/40 and is _lost_ if the operation fails due to a network error.

I am testing a couple of fixes locally that I hope to include i

[2018-12-05 20:59] cbommas commented on #78
@leijdekkers

Thank for reporting this. I will get the README and documentation updated.

[2018-12-05 21:02] minbi commented on #79
Hi @Joseph82 ,

Just to clarify, are you using Cognito Userpools for sign-in? If so, You may look at using AWSMobileClient for authentication with Userpools because it supports blocking calls until a user is signed-in. The client has to be aware that you are signed-in at first to transition between SIGNED_IN and SIGNED_OUT_USER_POOLS_TOKENS_INVALID. The latter will pause the operation until you ca

[2018-12-05 21:07] Joseph82 commented on #79
Hi @minbi , thank you for the answer.

Yes, I am using Cognito Userpools for sign-in.

I see what you mean, but if I block the user till he sign-in it means he cannot start using the app offline. Is that correct?

[2018-12-05 21:14] minbi commented on #79
I believe the offline mutation shouldn't be blocked since in that case the SDK shouldn't be attempting to grab credentials when offline is detected. I'll let @cbommas chime in one the exact mechanism of offline mutations at this version of the SDK.

[2018-12-05 21:16] Joseph82 commented on #79
Indeed when offline is detected there is no attempt to grab credentials, but as soon as online is detected, the SDK is going to try to sync data, calling the mutation in the queue one by one.
As soon as the device is online, I also start the sign-in procedure, but usually it is slower and in the meantime all mutations are going to fail.

[2018-12-05 21:21] minbi commented on #79
So, when the SDK grabs credentials from AWSMobileClient, it will block if needs fresh-er credentials, thus waiting for you to sign-in, if required.

[2018-12-05 21:59] minbi commented on #79
Ah, apologies for not being clear.

In my current proposal, `AWSAppSyncClient` would be using `AWSMobileClient` as the object that provides the Userpools tokens through the `CognitoUserPoolsAuthProvider` interface.

Therefore when the offline mutations are being executed they will block for credentials by calling AWSMobileClient.

[2018-12-05 22:43] Joseph82 commented on #79
That sounds grat @minbi But how to tell `AWSAppSyncClient` to use `AWSMobileClient`?

[2018-12-05 23:10] minbi commented on #79
You would specify it in the builder. One way to do it would be as follows:

[code]

[2018-12-05 23:39] Joseph82 commented on #79
Uhm intersting. Even though if the token is not yet available I will still have the same problem, cause that call doesn't seem blocking to me, cause it just return a string that the `AWSAppSyncClient` is going to try to use as token.

[2018-12-06 09:15] mllrmat opened #80 "Mutation is not performed"
**Describe the bug**
I am using the 2.8.4 Appsync and AWSMobileClient. I am running a mutation from a forground task in a timer interval of 1 minute to send a heartbeat to my server.

[code]

The Mutation is initiated but a network request is never performed and the callback is never called either.

I initialize the AppSyncClient with the following code:
[code]

The Log output:
[code]

No further

[2018-12-06 11:21] mllrmat commented on #80
I found the problem:

Apparently all AppSync calls are performed as AsyncTasks. As AsyncTasks have to be started from the UI Thread its not possible to run them directly in a Timer. I used the following code to get it working:
[code]

[2018-12-06 11:21] #80 closed

[2018-12-06 16:02] Joseph82 commented on #79
Hi @minbi I think you gave me the right tip. I am now overriding `getLatestAuthToken`, but instead of getting the idToken with `AWSMobileClient `, I use

`CognitoUserPool.signUp()` instead of `CognitoUserPool.signUpInBackground()`

and

`CognitoUser.getSession()` instead of `CognitoUser.getSessionInBackground()`

since `getLatestAuthToken()` is already executed in a different (non-UI) thread.

Whe

[2018-12-06 18:50] Joseph82 commented on #79
It seems like there is no need for handling retry. Under the hood `AWSMobileClient` is using `RetryInterceptor`.

[code]

[2018-12-06 21:50] cbommas commented on #7
@yhkwon44

Closing as there has been no response. Please feel free to open this item if you are still encountering issues.

[2018-12-06 21:50] #7 closed

[2018-12-08 16:14] cbommas commented on #50
@mmarceau
Just wanted to let you know that I am looking at this issue and will post an update here once I have more information.

[2018-12-08 16:14] cbommas commented on #40
@danielvtan

Wanted to let you know that I am looking into this as part of my investigation into #33

[2018-12-09 15:49] Joseph82 commented on #79
I checked the implementation of `AWSAppSyncClient` and I saw that `OkHttpClient` is using an interceptor for handling failure and retry: `RetryInterceptor`

Apparently this interceptor only reschedule the request, in case the status code of the response is between 500 and < 600 (or equal to 429). This means that there is no retry attempt in case the request fails because of authentication issues (

[2018-12-10 21:45] minbi commented on #79
The `PersistantMutationCallback` will notify you of failures in offline mutation queue. You can attach it to the AppSync client when building it. See [here](https://github.com/awslabs/aws-mobile-appsync-sdk-android/blob/master/aws-android-sdk-appsync/src/main/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncClient.java#L359)

[2018-12-10 21:49] Joseph82 commented on #79
Thanks for replying @minbi

That's actually what I do, but in case of failure the callback just return a `PersistentMutationsError` object which has just the following three methods:

- `getRecordIdentifier()`
- `getMutationClassName()`
- `getException()`

I though `getRecordIdentifier` could be useful for understanding which mutation went wrong, but apparently it isn't.

[2018-12-13 07:57] Joseph82 commented on #79
Ok, so from my understanding currently there is no way for preventing a mutation to get lost after authentication failure. As said all the information returned in the  `PersistentMutationsError` are not useful for re-trying the mutation.

I am just wondering if it is something that might be implemented in the near future. Otherwise I might try to write a custom OkHttp `Interceptor`.

[2018-12-14 16:27] nchorniy opened #82 "Queued mutations are lost on network exception"
**Description**
It turns out that AppSync on Android "looses" the mutations after the network exception.

**To Reproduce**
1. A couple of mutations were successfully queued while device had no connection to any network
2. Device was connected to the wifi network with no internet connection
3. AppSync SDK detected the connection and tried to synchronize the mutations and that expectedly failed
4. W

[2018-12-14 20:51] cbommas commented on #82
@nchorniy

Thank you for reporting this issue. I am working on a solution for this and am targeting it to be included in the next version.

[2018-12-15 01:41] cbommas commented on #76
@richienko

You should be able to accomplish this using fragments - See https://github.com/aws-samples/aws-mobile-appsync-events-starter-android/blob/43c60142e5a6cd5dbf1575c96dbdf93110f964a2/app/src/main/graphql/com/amazonaws/demo/appsync/events.graphql#L48 for an example of how it is used.

[2018-12-15 17:11] #62 closed

[2018-12-17 08:49] richienko commented on #76
That's it!
Thanks a lot.

[2018-12-17 08:49] #76 closed

[2018-12-18 00:45] cbommas commented on #75
Closing as I haven't heard back. Please feel free to reopen if you are still running into issues.

[2018-12-18 00:45] #75 closed

[2018-12-18 00:51] cbommas commented on #78
@leijdekkers

The sample app README and the documentation are updated ( documentation is at https://aws-amplify.github.io/docs/android/api#import-sdk-and-config).

I will go ahead and close this issue. Please feel free to reopen if you have further items that need addressing.

[2018-12-18 00:51] #78 closed

[2018-12-19 02:03] cbommas commented on #79
@Joseph82
This is something that I am looking into.

One idea/question that I'd like your thoughts on:
In the retry strategy, we do not retry on 401 or 403 errors as we don't deem them as being re-triable. The idea I have is to retry if we have a 401 or 403 error, but restrict it to a maximum of 1 retry. Would that work in your case?

[2018-12-19 02:07] cbommas commented on #61
@gilzhaiek, @J-L

Can you check if the suggestions made by @minbi on #79 will help address this issue for you?

[2018-12-19 04:37] cbommas commented on #82
@nchorniy

Version 2.7.1 of the SDK contains network error handling and queuing logic to address the issue that you reported. Please upgrade to this version and let us know how you fare.

[2018-12-19 04:39] cbommas commented on #72
[ep-mt](https://forums.aws.amazon.com/profile.jspa?userID=469771),

Version 2.7.1 of the SDK contains fixes for the queuing logic to address the issue that you reported. I will go ahead and close out this out as I haven't heard back - please feel free to reopen if you run into further issues.

[2018-12-19 04:39] #72 closed

[2018-12-19 04:41] cbommas commented on #33
@danielvtan @donaldarmstrong

Version 2.7.1 of the SDK contains the queuing fixes logic to address the issue that you reported. Please upgrade to this version and let us know how you fare.

[2018-12-19 04:43] cbommas commented on #40
@danielvtan

Version 2.7.1 of the SDK contains queuing logic to address the issue that you reported. Please upgrade to this version and let us know how you fare.

I will close this thread and lets use #33 for tracking purposes.

[2018-12-19 04:43] #40 closed

[2018-12-19 04:50] cbommas commented on #65
@olga-dorogan

The mutation queue handling logic is intended to be a sequential pipe, executing mutations one at a time. There were, however, synchronization issues and race conditions that were causing the same mutation to be tried more than one thread concurrently, which resulted in this exception.

Version 2.7.1 of the SDK contains synchronization and threading model changes that fixes this iss

[2018-12-19 04:56] cbommas commented on #79
Also, can you give v2.7.1 of the SDK a try? It contains a number of fixes to the threading model aimed at fixing race conditions and see if that fixes/reduces the temporary connection leak that you referenced earlier in this thread.

[2018-12-20 16:16] nchorniy commented on #82
@cbommas thanks, it seems the issue is fully fixed. Both things work :
- data was not lost
- and it was stored in the correct order

The testing was conducted on another device this time: Samsung J7 (2016) running on Android 7. Testing scenario was the same.

[2018-12-20 16:44] muellerfr commented on #82
Hello @nchorniy,

that's great news! Thank you for testing and providing a detailed update. I am going ahead and closing this issue. If you encounter any other problems, please open a new issue.

[2018-12-20 16:44] #82 closed

[2018-12-26 07:00] #47 closed

[2018-12-30 17:49] cbommas commented on #33
@danielvtan @donaldarmstrong
Looks like you are good to go. I'll close out this thread - please feel free to post back here or create a new thread if you are still running into issues.

[2018-12-30 17:49] #33 closed

[2018-12-30 17:57] cbommas commented on #46
@danielvtan
I have verified that with the fixes in 2.7+, the credentials will be refreshed and the mutation successfully executed. The renewal of credentials happens automatically within the SDK. See the following links

https://github.com/awslabs/aws-mobile-appsync-sdk-android/blob/1f3cbfb27b6ec2370d5befbb4559641d47b8c0ff/aws-android-sdk-appsync/src/main/java/com/amazonaws/mobileconnectors/appsyn

[2018-12-30 17:57] #46 closed

[2018-12-30 17:58] cbommas commented on #65
@olga-dorogan

Closing as I haven't heard back. Please feel free to post here or create a new thread if still facing issues.

[2018-12-30 17:58] #65 closed

[2018-12-31 17:56] danielvtan commented on #33
@cbommas thanks for the fixes. Currently i can not test this as we are using a modified version of the sdk. We will test this for our next project.

[2018-12-31 17:57] danielvtan commented on #46
@cbommas thanks for the fixes. Currently i can not test this as we are using a modified version of the sdk. We will test this for our next project.

[2018-12-31 23:44] cbommas commented on #11
@SudarAbisheck @igormatheus22 @janejjshen @motae99

Version 2.7.3 of the SDK contains the fixes for this issue. Please upgrade to this version and let us know how you it goes.

[2019-01-02 20:55] janejjshen commented on #11
Seems to work out quite nicely! Thanks!

Need the following code when initializing the `AWSAppSyncClient`(small modification from the amplify docs), and I do have to manually find and specify the bucket/key attributes, but overall it saves one upload call which is quite nice!

[code]

Is there an equivalent way to download an S3 object automatically? Or do I still need to use the TransferUtility a

[2019-01-03 13:04] bhoopendrayash opened #90 "Getting SocketTimeOutException while executing query"
I am getting SocketTimeOutException while executing query, instead in iOS platform it is working without any exception. I have tried to increase timeout as well but it din't help.

#Graphql Query
[code]

#Code.
[code]
#Callback.
[code]
#Logs.
MessageFragment: Failed to make api call
[code]
**Environment(please complete the following information):**
 - AppSync SDK Version: [e.g. 2.7.+]
classpath "c

[2019-01-04 20:17] CriPstian opened #91 "Add support for Gradle 5.x for Appsync Code Generation."
**Describe the bug**
After following the getting started guide for integrating my android application with AWS from [HERE](https://aws-amplify.github.io/docs/android/start#step-4-add-api-and-database), the build of my app is now failing with issues from [Apollo GraphQL](https://github.com/apollographql) dependency that is brought in by appsync.

****Here is my failed build logs:****

<details><sum

[2019-01-05 00:33] minbi commented on #91
Hi @CriPstian ,

Can you provide some details about what inputs you gave to `amplify add api`?
Did you provide an annotated schema or use on of the examples prompted?

Can you share the structure of [this folder linked example](https://github.com/aws-samples/reinvent-2018-social-news-app/tree/master/SocialNews-complete/app/src/main/graphql)

[2019-01-05 00:38] minbi commented on #61
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2019-01-05 00:38] #61 closed

[2019-01-05 00:43] minbi commented on #11
Hi @janejjshen ,

Yes, you will still need to manage the download of the S3 object.

We are closing this issue because there has been confirmation the fix is working. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2019-01-05 00:43] #11 closed

[2019-01-05 09:10] kpjofficial opened #92 "How to add logging interceptor?"
I am new to GraphQL and AWS. I am using `AWSAppSyncClient` to make the API calls. I need to see the response like `HttpLoggingInterceptor` in `Retrofit`. I have tried looking, but no luck.

TIA

[2019-01-07 08:00] bhoopendrayash commented on #90
- Code snippet for timeout:
ClientConfiguration clientConfiguration = new ClientConfiguration();clientConfiguration.setConnectionTimeout(TIMEOUT);
clientConfiguration.setSocketTimeout(TIMEOUT);
clientConfiguration.setMaxErrorRetry(0);
cognitoUserPool = new CognitoUserPool(context, userPoolId, clientId, clientSecret, clientConfiguration, cognitoRegion);

- Query is running in console as well as in

[2019-01-07 14:56] tglovernuppy opened #94 "Subscription retry even when the first request is unsuccessful"
**Is your feature request related to a problem? Please describe.**
The subscription reconnect feature introduced in 2.7.0 works fine when the SDK first succeeds to subscribe and then the internet connectivity is lost. However, this feature does not work when the first subscription request is unsuccessful. I want the SDK to retry subscription even in this case.

This issue is reproducible in [AWS M

[2019-01-07 17:47] cbommas commented on #90
@bhoopendrayash

Thanks for sharing the code snippet. Unfortunately, the timeout that you are setting there doesn't apply to the AppSync call - Within AppSync, it will use OKHttp's default timeout ( which I believe is set to 30 seconds).

From the log, it does look like a timeout at the OKHTTP level

Couple of follow up items
a) Can you run this on a simulator and see if that works from there
b) W

[2019-01-08 07:32] JagritiHirwani commented on #91
I am facing the same issue.

[2019-01-08 08:17] kpjofficial commented on #92
Ok. It turns out probably there are no solution to achieve Monitoring and Logging in Android, but [Amazon Cloudwatch](https://aws.amazon.com/cloudwatch/) can be useful from [here](https://docs.aws.amazon.com/appsync/latest/devguide/monitoring.html).

I have started using Cloudwatch and although it is not exactly as I needed, it gets the work done but, that solution in the Android can be really use

[2019-01-08 12:51] santosdaniel opened #95 "Conflict resolution does not work after relaunch app"
**For ignoring a conflict in the client side we need to call more that handler.fail(recordIdentifier) ?**
I am trying to implement a conflict revolver in my android client, in my case there is the possibility the of two messages have the same identifier since there are periods which my users are going to be offline.
If my conflict resolver is called without restarting the application the conflict

[2019-01-08 13:37] bhoopendrayash commented on #90
@cbommas

I am able to run query now in simulator as well as in devices, but I had to make changes in AWSAppSyncClient class (AppSync SDK) for that

OkHttpClient okHttpClient = okHttpClientBuilder
                .addInterceptor(new RetryInterceptor())
                .addInterceptor(appSyncSigV4SignerInterceptor)
                .connectTimeout(60, TimeUnit.SECONDS)//Changes done here

[2019-01-08 13:49] bhoopendrayash commented on #90
Thanks for you response, I am able to run query now after making changes in okHttpClient.

[2019-01-08 13:49] #90 closed

[2019-01-08 18:43] cbommas commented on #92
@kpjofficial
You can implement your own LoggingInterceptor,  attach it to a OkHTTP client and pass that client into `AWSAppSyncClient`.

You would do that as follows

      AWSAppSyncClient.builder()
                    .context(context)
                    .okHttpClient(null)
                    .credentialsProvider(getCredentialsProvider(context))
                    .region(Constants.APPSYNC_RE

[2019-01-08 19:16] cbommas commented on #95
@santosdaniel

Sorry to hear that you are running into issues. I will look into this and get back to you.

[2019-01-09 04:50] kpjofficial commented on #92
I do not know how to create LoggingInterceptor, I added `OkHttpLoggingInterceptor` using

[code]

and followed as you've shown. It works but is this way acceptable? or could have that done better?

Thank you @cbommas

[2019-01-09 05:02] cbommas commented on #92
@kpjofficial
That way is fine as well. Glad that it worked out for you.
I will close this thread. Please feel free to reach back if you run into issues.

[2019-01-09 05:02] #92 closed

[2019-01-09 06:34] santosdaniel commented on #95
Additional info: As far as I could see in my case the method getFirstInQueue() of the class PersistentOfflineMutationManager is returning always the same element to be sent to the network.

This method getFirstInQueue() uses the list persistentOfflineMutationObjectList which does not get clean by the call to handler.fail(recordIdentifier),
This is why I first thought that was a bad use of the Api

[2019-01-09 14:38] gitnarqt opened #96 "Check if mutationQueue empty?"
Is there a way to know if the mutationQueue is empty? We want to make sure that all mutations were carried out before logging out a user.

[2019-01-09 17:16] cbommas commented on #96
@gitnarqt

At this time, there isn't an API/method that you can invoke in the AppSync SDK to know if the mutationQueue is empty.

One idea that you can explore - since mutations will receive an `onResponse` and `onFailure` callback, may be you can use that to keep track of Mutations?

[2019-01-09 17:48] gitnarqt commented on #96
thank you for your response! Are there plans to implement this feature in the near future?

[2019-01-10 05:48] cbommas commented on #96
@gitnarqt

We will take this as a feature request and provide an update here once this is prioritized and we have a timeline established.

[2019-01-10 07:54] gitnarqt commented on #96
Awesome, thank you so much!

[2019-01-12 10:48] imhashir opened #97 "selectedAuthMode is null in AWSAppSyncClient.java - causes Exception on AWSAppSyncClient.Builder.build() - Android Client"
Hi!
I have just started using AWS Amplify and came across some issues. My app logs in perfectly and on restarting the app, the UserState is **SIGNED_IN**
But when I try to build an appsync client it gives the following exception:

I am just testing AppSync and Amplify so the code is pretty basic. Here is the code:

[code]

I debugged a bit deeper and found that in the **AWSAppSyncClient.java** fil

[2019-01-13 19:13] imhashir commented on #97
So looks like I could solve it. It wasn't an issue in sdk. It was just not clear enough in documentation. Here is the code that worked:
[code]

I was not specifying cognitoUserPoolAuthProvider. I did and it worked. Thanks to the sample code. That helped.

[2019-01-13 19:13] #97 closed

[2019-01-14 10:31] DeMoss15 opened #98 "NullPointerException, ConflictResolverInterface, Mutation fails"
- AppSync SDK Version: 2.7.4
 - aws-android-sdk-mobile-client: 2.10.0

caching strategy NETWORK_ONLY

NPE was on previous versions of the sdk too. But there was no queue.
In latest version requests are being just added to this queue and waited for smth.
In previous versions, even after exception, all mutations were being executed.

here is stack trace of NPE:

V/InterceptorCallback: Thread:[13268]

[2019-01-14 16:52] cbommas commented on #98
@DeMoss15

Thank you for reporting this issue. I will look into this and post an update here once I have more information.

[2019-01-14 19:54] muellerfr commented on #97
Hi @imhashir, the user pools configuration is documented here: https://aws-amplify.github.io/docs/android/api#cognito-user-pools Can you please review and let us know if this would have answered your question? If so, what could we have done to make the documentation easier to find?

[2019-01-14 21:33] cbommas commented on #91
@CriPstian

I ran through the steps of the tutorial and used the same schema as the one you have pasted above and was not able to reproduce the problem. The code was generated and I was able to build and run the app successfully.

Just so we have the same environment, here are my details.
- amplify cli version - 0.1.41
- Android Studio 3.1.4
- Gradle Version 4.6

@JagritiHirwani
Can you post the s

[2019-01-15 01:41] cbommas commented on #50
@mmarceau
Version 2.7.5 of the SDK contains changes to address this issue. The callback will be called if you fail a mutation in the conflict resolver code.

In the onFailure, you can check if the exception is an instance of `ConflictResolutionFailedException` to know that the failure was due to a conflict.  See the following test for an example
https://github.com/awslabs/aws-mobile-appsync-sdk-an

[2019-01-15 01:48] cbommas commented on #98
@DeMoss15

Version 2.7.5 of the SDK has a fix for this issue. For the Conflict Resolution feature, you have to pass in a custom config resolver. See the following two links for an example of how to do that

 https://github.com/awslabs/aws-mobile-appsync-sdk-android/blob/757d8e08ed3576d296e1a6eec972a94b013751b5/aws-android-sdk-appsync-tests/src/androidTest/java/com/amazonaws/mobileconnectors/appsyn

[2019-01-15 01:50] cbommas commented on #95
@santosdaniel

Version 2.7.5 of the SDK contains fixes for this issue. Please try it out and let me know how it goes.

[2019-01-15 15:40] DeMoss15 commented on #98
@cbommas

Thank you. There is no NPE anymore.

But now I get onFailure() after successful mutation (using default ConflictResolver)
and then everything work fine again.

timestamp: 2019-01-15 17:35:35.575
stack trace:
[appsync_version_2,7,5.txt](https://github.com/awslabs/aws-mobile-appsync-sdk-android/files/2760279/appsync_version_2.7.5.txt)

[2019-01-16 08:36] Sanghati opened #100 "Subscription is not working in Android"
**State your question**
Subscription is not working in my android app. It says **Connection Error Report** and it's not getting any response also it always executing **onFailure** method.

**NOTE :** Subscription is working fine in appsync console.

**Environment(please complete the following information):**
 - AppSync SDK Version: 2.7.5

**Device Information (please complete the following informa

[2019-01-16 11:01] CriPstian commented on #91
@cbommas

One way that I tried to pass the build was by upgrading the `amplify-cli` to the latest version (now `0.1.42`). That made no difference, ran through the configuration steps like before, everything was swell, but the problem remained.

Finally got the application to build but unfortunately was by downgrading the `Gradle` version to `4.6` (from `5.1`) like in your own configuration.
A prob

[2019-01-16 12:10] #100 closed

[2019-01-16 14:00] DeMoss15 commented on #98
@cbommas

I've researched this issue again: this error is on our side.
We call the same mutation twice, accidentally.

Thank you very much for your help!)

[2019-01-16 14:00] #98 closed

[2019-01-16 15:48] DeMoss15 commented on #98
@cbommas
One more question:

What this logs mean and can I suppose it somehow if it's not important

2019-01-16 16:11:48.565 16346-16550/com.moja V/AppSyncOfflineMutationManager: Thread:[15367]:Persistent mutations queue is EMPTY!. Will check inMemory Queue next
2019-01-16 16:11:48.565 16346-16550/com.moja V/AppSyncOfflineMutationManager: Thread:[15367]: In Memory mutations queue was EMPTY!. Nothi

[2019-01-16 16:57] cbommas commented on #98
@DeMoss15
Yeah, this is logging done as part of mutation processing and is safe to ignore.

[2019-01-16 17:06] cbommas commented on #91
@CriPstian
Thank you for confirming that the issue is resolved when you downgraded to Gradle 4.6
I will open a feature request to support Gradle 5.1 for the plugin.

@JagritiHirwani
Does this help resolve your issue as well?

[2019-01-16 18:22] cbommas commented on #91
I verified that the code generation is broken with Gradle 5.x. I tried with the last version of the 4.X series ( 4.10.3) and it worked fine there. There are breaking changes in `ValidateTaskProperties` which is likely the root cause for the issue.

I will convert this issue into a feature request to add support for Gradle Version 5 for the code generation task.

[2019-01-16 18:51] CriPstian commented on #91
@cbommas I confirm that upgrading `Gradle` back to `4.10.3` runs OK. Thank you

[2019-01-17 11:29] gitnarqt opened #101 "Is there a way to clear the mutation queue?"
**Take this scenario:**
User authenticates with Cognito, perform mutations offline, logs out. A new user logs in, connects to the internet, mutations performed by the first user are executed.

Is there a way to clear the mutationQueue or cancel all non-executed mutations?

**Environment:**
 - AppSync SDK Version: 2.7.1

[2019-01-17 16:09] cbommas commented on #101
@gitnarqt

There is currently no mechanism to clear the mutationQueue or to cancel all non-executed mutations. Each mutation, however, is cancelable and you can cancel outstanding mutations if you were to be tracking them within the app.

I am going to take this as a feature request and post back once here when I have more information or a timeline that I can share.

[2019-01-18 10:08] DeMoss15 opened #102 "infinite offline mutation"
**Bug description**
Mutation waiting in Persistent Queue for long period of time. Although Internet connection is good enough. Pay attention to logs of mutation in Thread: [1]

**Attachments**
[infinit_creat_mutation_log.txt](https://github.com/awslabs/aws-mobile-appsync-sdk-android/files/2772383/infinit_creat_mutation_log.txt)

**Environment**
Lib versions:
app sync 2.7.5
cognito identity provide

[2019-01-18 10:45] ukevgen commented on #95
@cbommas seems in 2.7.5 doesn't work properlyy https://github.com/awslabs/aws-mobile-appsync-sdk-android/issues/102

[2019-01-18 16:44] palpatim commented on #102
@DeMoss15

Thanks for reporting this issue, and sorry you're having trouble. Are you convinced that this issue is actually the same as #95? If so, we should migrate this to a comment on that thread so we can keep the conversation centralized--can you move your information (and the link to your log file) to that thread?

[2019-01-18 17:35] cbommas commented on #102
@DeMoss15

After reviewing the log, it looks like this is a different issue than #95. From my reading of the log, it looks like there are a couple of mutations and a cancellation and there may be a bug in the tracking logic for canceled mutations.

It will be helpful if you can share code snippets around how you are creating the mutations, where they are being canceled etc.

[2019-01-20 19:17] DeMoss15 commented on #102
@cbommas

We are executing one mutation after another. Just like that:

notificationSubscriptionUseCase.buildUseCaseObservable(NotificationSubscriptionUseCase.Params(true)) // try to subscribe to notifications
                .onErrorComplete()
// create user profile
                .andThen(profileRepository.createUserProfile(
                        params.name,
                        params.ab

[2019-01-21 12:33] Joseph82 commented on #79
@cbommas any feedback?

[2019-01-21 18:37] cbommas commented on #95
@ukevgen
Lets follow that issue on #102. I will go ahead and close out this issue with the conflict management as I got confirmation on #98 that the issue was resolved.

[2019-01-21 18:37] #95 closed

[2019-01-21 20:18] cbommas commented on #102
@DeMoss15

Thanks for attaching the code snippets.

In the log that you posted earlier, I am seeing mutations being cancelled.

     2019-01-18 10:44:36.885 16960-17168/com.moja V/AppSyncOfflineMutationManager: Thread:[3106]: Handling cancellation for mutation [com.moja.SubscribeForNotificationsMutation@11d7822]
     2019-01-18 10:44:36.885 16960-17168/com.moja V/AppSyncOfflineMutationManager: Thr

[2019-01-21 21:55] michaelcarrano commented on #91
I just started a new project today using AWS Amplify and ran into this issue too.

I can confirm that downgrading gradle from 5.1.1 to 4.10.3 solved the problem for me, however, it would be nice if the root issue can be fixed so that I may use gradle 5.x for my project.

[2019-01-22 07:59] donaldarmstrong opened #103 "GraphQL Input types toString() as cache key instead of resolving input values"
**Describe the bug**
A query that uses an input object results in a cache key that instead resolves the id of the object as the key instead of decomposing the map.  This looks to be the same issue as https://github.com/apollographql/apollo-android/pull/997 resolved.

  ResponseNormalizer.willResolve produces a cache key like
  getSalesOrder(input:com.regiscorp.athena.sdk.order.graphql.type.GetOrde

[2019-01-22 10:37] DeMoss15 commented on #102
@cbommas

If I understand you correctly:  we can't cancel mutations. Although this mutations have such interface.
This fix may cause NullPointerExceptions and memory leaks. Because of uncancelled mutation after dispose subscription.

First mutation (SubscribeToNotificationMutation) had been executed correctly. Than it was cancelled and started second mutation (CreateProfileMutation in Thread:[1]).

[2019-01-22 13:49] DeMoss15 commented on #102
Second mutation is being executed after reopen application (press button home -> open app again)

[2019-01-22 13:56] cbommas commented on #102
@DeMoss15
Actually, no, that isn't what I am saying ( Apologies if my previous post was not clear on this topic)

- Any mutation can be canceled, at any point in time.
- Mutations can be in of 4 states ( `IDLE`, `ACTIVE`, `TERMINATED`, `CANCELED`). `IDLE` state means that the mutation has been created and is waiting to the executed. `ACTIVE` means that the mutation is being executed. `TERMINATED`

[2019-01-22 14:26] DeMoss15 commented on #102
@cbommas

I got it. BUT

Why THIS mutation wait in queue and wasn't being executed?
[code]
It wasn't cancelled.

[2019-01-22 21:49] cbommas commented on #102
@DeMoss15
I see - Let me look into this. I think there may be a race condition here between the cancellation request and the next mutation request.  Will post back here once I have an update.

[2019-01-22 21:56] ukevgen commented on #102
@palpatim @cbommas H! I'm a @DeMoss15 teammate. I see that this disscusion going into wrong way). So I did some more clean code (removed rx's chain etc.) and added more logs for better  understanding what goin on.

And this is start poin for ower calls:

`
override fun createProfile() {

        val subscribtionMutation = SubscribeForNotificationsMutation.builder()
                .deviceToken(Sha

[2019-01-22 22:15] ukevgen commented on #102
`CompletableCreate(SubscribeToNotificationsObservable(appSyncClient, subscribtionMutation))
                .doOnComplete {
                    Log.d("Presenter", "Subscribe to notification mutation was successful!")
                }
                .delay(1000L, TimeUnit.MILLISECONDS)
                .andThen(
                        CompletableCreate(CreateUserProfileMutationObservable(appSyncC

[2019-01-23 00:31] matthewlip opened #104 "Mutations on background thread"
**Is your feature request related to a problem? Please describe.**
Related to https://github.com/awslabs/aws-mobile-appsync-sdk-android/issues/80, when I want to run a mutation; I have to start it from the UI thread

**Describe the solution you'd like**
I'd like to be able to start mutations from a background thread

**Additional context**
Using appsync version 2.6.26

[2019-01-23 00:49] cbommas commented on #104
@matthewlip

The latest version of the AppSync SDK, v2.7.5, enables you to start mutations from a background thread. See the following for an example https://github.com/awslabs/aws-mobile-appsync-sdk-android/blob/757d8e08ed3576d296e1a6eec972a94b013751b5/aws-android-sdk-appsync-tests/src/androidTest/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncConflictManagementInstrumentationTest.java#L30

[2019-01-23 01:39] cbommas commented on #102
@ukevgen
Thanks for the additional context. I was able to reproduce the issue on my side - effectively what is happening is the first mutation is being cancelled in its own mutation callback (invoked when it finishes executing).

This is causing the mutation queue processing logic to be thrown off and is causing the next mutation in the queue to be deleted due to a bug.

The fix for this issue wil

[2019-01-23 13:18] SStesh opened #105 "mutationQueueExecutionTimeout() doesn't work"
**Describe the bug**
There is a method mutationQueueExecutionTimeout() added in SDK version 2.7.4. But it really doesn't change timeout value and default value is remaining.

This is a source code of mutationQueueExecutionTimeout method at SDK (AWSAppSyncClient.java):
[code]
But it doesn't change a class member and changes argument instead. It must modify mMutationQueueExecutionTimeout defined at

[2019-01-23 13:56] cbommas commented on #105
@SStesh
You are a 100% correct. Thank you for bringing this to my attention. The fix for this issue will be available in the next version of the SDK. I will post back here once the release is out.

[2019-01-23 18:06] matthewlip commented on #104
One version bump later and everything is working as expected; thank you for your time.

[2019-01-23 18:06] #104 closed

[2019-01-24 02:59] cbommas commented on #102
@DeMoss15 @ukevgen

v2.7.6 of the SDK contains the fix. Please give this version a try and let me know how you fare.

[2019-01-24 03:01] cbommas commented on #101
@gitnarqt
v2.7.6 contains the mechanism to clear the mutation queue. See the link below for an example of how to use this.

https://github.com/awslabs/aws-mobile-appsync-sdk-android/blob/1dd1fd9959837438896bd4aa39f8de5c426a23b7/aws-android-sdk-appsync-tests/src/androidTest/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncQueryInstrumentationTest.java#L1198

[2019-01-24 03:03] cbommas commented on #96
@gitnarqt

v2.7.6 contains the mechanism to check if the mutation queue is empty. See the link below for an example of how to use it.

https://github.com/awslabs/aws-mobile-appsync-sdk-android/blob/1dd1fd9959837438896bd4aa39f8de5c426a23b7/aws-android-sdk-appsync-tests/src/androidTest/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncQueryInstrumentationTest.java#L1197

[2019-01-24 10:07] gitnarqt commented on #101
@cbommas awesome! Worked like a charm, thank you for the prompt update.

[2019-01-24 10:07] gitnarqt commented on #96
@cbommas awesome! Worked like a charm, thank you for the prompt update.

[2019-01-24 11:20] DeMoss15 commented on #102
@cbommas

This couple of mutations works correctly after update. Thank you!

[2019-01-24 14:51] cbommas commented on #102
@DeMoss15
Thank you for letting me know. I will go ahead and close this issue out.

[2019-01-24 14:51] #102 closed

[2019-01-24 14:51] cbommas commented on #101
@gitnarqt
Thank you for confirming!

[2019-01-24 14:51] #101 closed

[2019-01-24 14:52] cbommas commented on #96
@gitnarqt
Thank you for confirming! I will go ahead and close out this issue.

[2019-01-24 14:52] #96 closed

[2019-01-24 20:01] mmarceau commented on #50
Thank you @cbommas - This is now working 👍

[2019-01-24 20:56] cbommas commented on #50
@mmarceau
Good to hear. I will go ahead and close out this issue. Please feel free to post back here ( or create a new issue) if you run into problems.

[2019-01-24 20:56] #50 closed

[2019-01-26 18:50] JagritiHirwani commented on #91
No, i am unable to use gradle 4.6 as well.

[2019-01-26 21:35] lakst commented on #94
Any updates as to when will this feature be added?

[2019-01-27 08:46] JagritiHirwani commented on #91
I am getting this error : ERROR: Minimum supported Gradle version is 5.1-milestone-1. Current version is 4.10.3.

[2019-01-27 14:39] CriPstian commented on #91
@JagritiHirwani That error might be thrown by another dependency.
Maybe check the whole `stacktrace` by running the gradle task with `--debug`

[2019-01-27 16:03] JagritiHirwani commented on #91
I am following the steps given [https://aws.amazon.com/blogs/mobile/building-an-android-app-with-aws-amplify-part-1/](url) and when i build the project after creating the backend i get the following error. It is using gradle 5.1.

FAILURE: Build failed with an exception.

* What went wrong:
Some problems were found with the configuration of task ':app:generateDebugApolloIR'.

* Try:
Run with --sta

[2019-01-28 08:39] Joseph82 commented on #79
Hi @cbommas

I would avoid the third option, cause the order of the mutations in the queue is most of the time crucial for the correct synchronization.

In my opinion a custom retry policy for the `RetryInterceptor` would be a good option.

[2019-01-28 15:03] cbommas commented on #79
Thanks for feedback @Joseph82
I will mark this thread as a feature request and get back to you once I have a timeline.

[2019-01-28 18:22] cbommas commented on #91
@JagritiHirwani
Sorry to hear that you are still facing issues. Can you run `./gradlew build --stacktrace`  and post the log here? That would be helpful in addressing the issue you are running into.

[2019-01-29 13:32] gitnarqt opened #107 "Is there a way for queries to wait for mutations to finish?"
Hello,

We're facing some inconsistency in the data when it comes to executing several mutations and queries at the same time. According to our tests, query operations are not enqueued in the same queue as the mutation operations and thus don't respect the calling order. Is that correct?

Example of deleting images:
- Delete image sets the getImage(ID) query to null in the Apolo storage and sends

[2019-01-29 17:42] cbommas commented on #107
@gitnarqt

Yes, the mutation and query behavior is as per the architecture of the AppSync. Mutations are put into a queue and executed in a sequential fashion and respect the calling order; Queries are not enqueued and are executed independent of the mutation queue.

An interesting area would be to look into the Client Architecture section in https://aws-amplify.github.io/docs/android/api. This se

[2019-01-29 19:09] JagritiHirwani commented on #91
Yes, this the log :
Executing tasks: [:app:assembleDebug]

The DefaultSourceDirectorySet constructor has been deprecated. This is scheduled to be removed in Gradle 5.0. Please use the ObjectFactory service to create instances of SourceDirectorySet instead.
	at org.gradle.api.internal.file.DefaultSourceDirectorySet.<init>(DefaultSourceDirectorySet.java:65)
	at org.gradle.api.internal.file.DefaultSo

[2019-01-29 19:35] cbommas commented on #91
@JagritiHirwani
Thanks for posting the log. I see the error -  The interesting thing is that this error only happens for  me locally when I move to Gradle 5x and doesn't happen when I am on the 4x series of Gradle.

     FAILURE: Build failed with an exception.

    What went wrong:
    Some problems were found with the configuration of task ':app:generateDebugApolloIR'.

    Value 'main GraphQL s

[2019-01-29 19:46] undefobj commented on #107
@gitnarqt could you go into a layer deeper around the application experience you're trying to deliver, and possibly any code/layout examples around the use case? It's not immediately clear to me why you would perform queries in such succession for overlapping data structures since, by GraphQL spec definition, a mutation is a write followed by an immediate fetch which would fulfill the data require

[2019-01-29 19:46] JagritiHirwani commented on #91
@cbommas
Sorry, but I don't get any build option in the following.
this is what I got.
![image](https://user-images.githubusercontent.com/46112566/51935751-99435b00-242c-11e9-9051-65c523d112fc.png)

and my project structure shows this:
![image](https://user-images.githubusercontent.com/46112566/51935776-b2e4a280-242c-11e9-914b-62e9e5dffbf6.png)

[2019-01-29 20:13] cbommas commented on #91
I see.. I was trying to get to the screen where you have specified the Gradle version. ( I am using a Mac and I see that you are on Windows). Can you share the screen where you have set the gradle version. Also can you share the `gradle/wrapper/gradle-wrapper.properties` file from your project?

[2019-01-30 05:51] JagritiHirwani commented on #91
This is my gradle wrapper properties
![image](https://user-images.githubusercontent.com/46112566/51960914-ecdf9400-2480-11e9-9e9b-8d2f091a8f97.png)
I had earlier changed distributionurl to gradle 4.6 as suggested above but then also I got an error :ERROR: Minimum supported Gradle version is 5.1-milestone-1. Current version is 4.10.3.

[2019-01-30 07:01] cbommas commented on #91
@JagritiHirwani
From your screenshot, It appears that you are still using Gradle 5.1 ( In you screenshot, the distribution URL is still pointing to Gradle 5.1).  Look at this link for details on how to change the Gradle version - https://developer.android.com/studio/releases/gradle-plugin.  Once you have downgraded Gradle to 4.x, you should able to get this to work.

[2019-01-30 13:51] DeMoss15 opened #108 "All mutations hadn't been executed after internet connection type change"
*SDK version: 2.11.0*
*AppSync version: 2.7.6*

It's hard to reproduce this issue.
Steps to reproduce looks like:
execute few mutations -> wait about 15 min -> switch internet connection -> mutations doesn't work
Logs looks like something wrong with queue or AppSyncOfflineMutationManager

Log of creating mutation and adding in to queue here:
[SWITCH INTERNET CONNECTION ISSUE.txt](https://github.co

[2019-01-30 15:11] cbommas commented on #108
@DeMoss15
I see this repeated in the log each time the Mutation processor is triggered to start executing mutations off the queue

    2019-01-30 11:46:13.100 5193-5258/com.moja V/AppSyncOfflineMutationManager: Thread:[7687]: Internet wasn't available. Exiting

It looks like the device has not gotten back on the network. When the mutation processor is triggered, it checks to ensure that there is n

[2019-01-30 16:18] DeMoss15 commented on #108
Our QA specialist got this issue on a real device three times.
First time he used proxy to emulate bade internet connection, second and third times he used wi-fi without proxy connection.
In all cases, while he was trying to execute mutations, Internet connection was available (he has checked it in browser and other applications). But mutations didn't work.
First two times restart app helped. But

[2019-01-30 17:32] cbommas commented on #108
@DeMoss15

Thanks for the context. In the log you have attached, I don't see any mutation being executed at all. Every time the mutation processor is triggered, it exits immediately.

     2019-01-30 11:44:23.003 5193-5258/com.moja V/AppSyncOfflineMutationManager: Thread:[7687]: Internet wasn't available. Exiting
     2019-01-30 11:44:23.425 5193-5258/com.moja V/AppSyncOfflineMutationManager: Thre

[2019-01-30 17:53] JagritiHirwani commented on #91
@cbommas Thankyou so much, it is working now with gradle 4.10.3

[2019-01-30 17:56] cbommas commented on #91
@JagritiHirwani

Good to hear! Thank for you letting me know 👍

[2019-02-01 08:50] gitnarqt commented on #107
Hey guys, thank for the quick response! I'll look more into the architecture, might have missed something.

@undefobj we're working on an image gallery app that could be used offline and online. Our users could edit their images offline and at some point when they connect online, they have the ability to refresh their gallery and download their images from the cloud. The issue is occurring when th

[2019-02-02 00:31] devxpy opened #109 "D8: Program type already present: android.arch.core.util.Function"
I realize that you don't officially support flutter, but since I'm editing native android code, I thought this is probably related .

When I try to build the project, I get the following error.
[code]

Here is a more verbose output - [output.txt](https://github.com/awslabs/aws-mobile-appsync-sdk-android/files/2823798/output.txt)

<details>
<summary> build.gradle </summary>

[code]

</details>

<de

[2019-02-02 00:39] devxpy commented on #109
Never mind, it's fixed if I add `@aar`.

[code]

[2019-02-02 00:39] #109 closed

[2019-02-02 00:57] devxpy commented on #97
@muellerfr Maybe tell us how to get the `AWSAppSyncClient` object properly setup _before_ telling how to run a query?
Like the "Authentication Modes" section should have been a part of "Client Initialization", really.

[2019-02-02 01:07] sunchunqiang commented on #109
Hi @devxpy
Can you try   using     implementation ('com.amazonaws:aws-android-sdk-appsync:2.7.+@aar'){
        exclude group: "com.google.android", module: "android" } instead of  implementation 'com.amazonaws:aws-android-sdk-appsync:2.7.+@aar'

[2019-02-02 12:52] JagritiHirwani opened #110 "[AWSMobileClient] Cannot resolve symbol `Callback`"
I am following the link given https://aws-amplify.github.io/docs/android/authentication and when i am building the project i get the following error :C:\Users\Lenovo\AndroidStudioProjects\MyApplication5\app\src\main\java\com\example\lenovo\myapplication\MainActivity.java:42: error: cannot find symbol
        AWSMobileClient.getInstance().initialize(getApplicationContext(), new Callback<UserStateDe

[2019-02-04 05:48] sunchunqiang commented on #110
Hi @JagritiHirwani

Did you add implementation 'com.amazonaws:aws-android-sdk-mobile-client:2.11.+' to your build.gradle?

[2019-02-04 08:09] mitmak777 opened #111 "Memory leak when subscription is cancelled"
**Describe the bug**
subscriptionsById still holds the subscription instance after it is cancelled and unsubscribed.

I believe the cause is this line
https://github.com/awslabs/aws-mobile-appsync-sdk-android/blob/55717d1c074065ee1b004af65c38201bb20c8eb9/aws-android-sdk-appsync/src/main/java/com/amazonaws/mobileconnectors/appsync/subscription/RealSubscriptionManager.java#L106

 It try to remove th

[2019-02-04 21:37] kvasukib commented on #110
@JagritiHirwani Sorry for the inconvenience caused. `Callback` was introduced in a recent version of `aws-android-sdk-mobile-client` library. I would check your build.gradle for the version of the library and upgrade to `com.amazonaws:aws-android-sdk-mobile-client:2.11.+` as @sunchunqiang pointed out.

[2019-02-05 02:12] muellerfr commented on #97
@devxpy thank you for your suggestion - I've created a new issue in our docs repo to track this suggestions. https://github.com/aws-amplify/docs/issues/427 Please follow the issue for updates. Also, since the documentation is Open Source feel free to submit a PR!

[2019-02-05 05:03] JagritiHirwani commented on #110
@sunchunqiang yes i did add it.
these are the dependencies in my build gradle.
 //Base SDK
    implementation 'com.amazonaws:aws-android-sdk-core:2.11.+'
    //AppSync SDK
    implementation 'com.amazonaws:aws-android-sdk-appsync:2.7.+'
    implementation 'org.eclipse.paho:org.eclipse.paho.client.mqttv3:1.2.0'
    implementation 'org.eclipse.paho:org.eclipse.paho.android.service:1.1.1'
    **imple

[2019-02-05 13:06] cbommas commented on #111
@mitmak777
Nice catch! Thank you. This will be fixed in one of our upcoming releases. We will post back on this thread once the release is out.

[2019-02-05 14:03] gitnarqt commented on #107
Sorry for the late response @undefobj. Thanks for the tip! We didn't implement subscription which I think would solve the issue we're facing with inconsistent data. Eventually, the user will be editing outdated images but I assume a conflict resolver would handle such a case. Thanks again!

[2019-02-05 14:03] #107 closed

[2019-02-05 14:15] gitnarqt opened #113 "Including Mutation Payload in PersistentMutationsError of PersistentMutationsCallback"
**Is your feature request related to a problem? Please describe.**
If a mutation persisted in the mutation queue fails, there is no way of retrieving its payload within the error callback in order to prompt the user to take a certain action.

**Describe the solution you'd like**
If it's possible, add the Data to the PersistentMutationsError or anything similar to PersistentMutationsResponse.getDat

[2019-02-05 17:37] minbi commented on #110
Hi @JagritiHirwani ,

Your setup looks to be correct. The gradle settings may be out of sync with your project.

If you are only missing the `Callback` symbol, can you check whether you java imports in the file include this line?
[code]

[2019-02-05 21:50] rohandubal commented on #113
Thanks for the feedback @gitnarqt

Having one of this option makes sense. I will discuss it with the team as feature request and keep this thread updated.

[2019-02-08 02:07] mitmak777 commented on #111
Thanks for the quick response.

[2019-02-08 16:59] DeMoss15 commented on #108
Sorry for long pause. It took a lot of time and efforts to catch this logs.
Here it is:
[2019-02-08T15_59_19.177+02_00.txt](https://github.com/awslabs/aws-mobile-appsync-sdk-android/files/2846038/2019-02-08T15_59_19.177%2B02_00.txt)

[2019-02-09 07:21] SahajRana opened #114 "Subscription crashing application due to "java.util.NoSuchElementException" exception"
**Describe the bug**
Subscription crashing application due to "AppSyncSubscriptionCall$Callback.onCompleted()" on a null object reference, after some time of using subscription on cancel.

Error
[code]
**Environment(please complete the following information):**
 - AppSync SDK Version: 2.7.+

**Device Information (please complete the following information):**
 -Checked on Lolipop and Nougat

I thin

[2019-02-11 02:53] EunGyeongChoe opened #115 "First letter in field name changed to lower case"
**Describe the bug**
https://github.com/apollographql/apollo-android/issues/994

If a field name starts with a capital letter then Apollo changes it to a lower case letter. This causes the query or mutation to fail. Changing the function and variable names is just fine, but the marshaller should use a non-modified field name.

---

A bug has not been fixed in "aws-mobile-appsync-sdk-android"

한국어)

[2019-02-11 17:13] kvasukib commented on #114
@SahajRana Sorry for the inconvenience caused. By any chance did you encounter the following log message in your Logcat?

[code]

Can you post a code snippet where you create and invoke the subscription with a callback?

[2019-02-11 17:15] rohandubal commented on #115
@minbi could you please have a look at this issue?

[2019-02-12 05:09] btilbrook-nextfaze commented on #69
Appears to be fixed as of Kotlin `1.3.21`, AGP `3.3.1`.

[2019-02-12 09:09] gitnarqt opened #116 "Best way to perform schema migration?"
**Question**
Is there a recommended way to perform a schema migration?

**The scenario we're facing:**
- The user performs some operations while offline
- App gets updated on Google Playstore with a new schema
- The user gets back into the app while still offline, attempts to load old data with a new schema
- App crashes

**Alternatives we thought of:**
- Force user to connect to the internet and

[2019-02-12 10:21] ukevgen commented on #108
@cbommas any updates?

[2019-02-12 18:11] kvasukib commented on #114
PR #117 fixes this issue. The next upcoming release should include this fix.

[2019-02-12 18:36] SahajRana commented on #114
@kvasukib thanks for the great response!, After I opened the issue I downgraded the version and then, after your request I changed it back to the newer version. But now, I'm not able to find the issue anymore. I think there could be some post upgrading files problem. I will let you guys know if I find it again, cheers!

[2019-02-13 04:57] kvasukib commented on #114
@SahajRana This fix has been released in `2.7.7` version of the SDK. Please upgrade and let us know any feedback you have.

[2019-02-13 16:38] cbommas commented on #111
@mitmak777

The latest version of the sdk (v2.7.7) contains the fix. Please upgrade and let us know how it goes.

[2019-02-13 20:13] kvasukib commented on #108
@ukevgen Sorry for the delayed response.

@DeMoss15 I scrolled through the logs and found that the mutations are canceled. I find several
occurrences of the following event in the logs. Do you explicitly cancel the mutation based on any condition?

[code]

[2019-02-14 10:50] DeMoss15 commented on #108
@kvasukib Yes. We are cancelling mutation when it needed. But it *doesn't matters*

Please pay your attention for this log:
[FROM EXEQUTED MUTATION TO FAIL.txt](https://github.com/awslabs/aws-mobile-appsync-sdk-android/files/2864543/FROM.EXEQUTED.MUTATION.TO.FAIL.txt)

Let's look at it closer:

Here we can see the last executed mutation:
[code]

than we have a log of internet connection status cha

[2019-02-15 01:45] #110 closed

[2019-02-15 09:21] SahajRana commented on #114
@kvasukib I think this problem is resolved but now I'm getting another error and then app is crashed
[code]

[2019-02-15 12:12] JagritiHirwani opened #120 "unable to Retrieve data in android app from Dynamodb"
**how to get data from amazon dynamodb table into the mobile app. I have followed aws mobile hub and amplify documentations but nothing works.**
My mainactivity.java looks like this:

[code]

[https://aws.amazon.com/blogs/mobile/using-amazon-dynamodb-document-api-with-aws-mobile-sdk-for-android-part-1/](I followed this, but was not successful)

my dynamodb table consists of id (string) as hash key

[2019-02-16 15:55] SahajRana commented on #114
@kvasukib @cbommas @muellerfr guys, the above error is pretty frequent and crashing an idle application after some time of opening.

[2019-02-18 06:21] cbommas commented on #114
@SahajRana
Can you share code snippets of how you are creating the subscription, cancelling it etc., and your logcat? That will help in pinpointing why this crash is happening.

[2019-02-18 20:21] kvasukib commented on #116
@gitnarqt Sorry for the inconvenience caused. Can you post a stacktrace and the two schemas?

[2019-02-19 08:24] DeMoss15 commented on #108
@cbommas @kvasukib Any updates?

[2019-02-19 08:40] DeMoss15 opened #121 "All mutations hadn't been executed after internet connection type change #2"
_SDK version: 2.11.0_
_AppSync version: 2.7.6_

It's hard to reproduce this issue.
Steps to reproduce looks like:
execute few mutations -> wait about 15 min -> switch internet connection -> mutations doesn't work
Logs looks like something wrong with queue or AppSyncOfflineMutationManager

Please pay your attention for this log:
[FROM EXECUTED MUTATION TO FAIL.txt](https://github.com/awslabs/aws-mo

[2019-02-19 16:13] sunchunqiang commented on #121
Hi @DeMoss15  When you said internet connection type change, do you mean switching internet connection from off to on?
Could you also please provide some code snippet for the issue?

[2019-02-20 09:30] DeMoss15 commented on #121
Hi, @muellerfr. I mean switching *type* of internet connection. for example: from wifi to mobile internet or vice versa. And please, specify what do you mean under the "code snippet". What should this code show?

[2019-02-20 16:16] tom-homewood-dyson opened #122 "Inconsistent capitalisation of classnames for inputs in auto-generated code."
**Describe the bug**
Capitalisation of class names generated by InputTypeSpecBuilder is not consistent with the names used in import statements in other classes.

**To Reproduce**
1. Create an Appsync API with a schema containing an input as follows:
[code]
2. Add a mutation to the schema as follows:
[code]
3. Attach the API to the project and build. Amplify Codegen will create files for the input

[2019-02-21 00:21] sunchunqiang commented on #121
Hi, @DeMoss15  you said "execute few mutations -> wait about 15 min -> switch internet connection -> mutations doesn't work", my question is,  in the first 15 min, is the internet connection available? if yes, why does not the mutations finish in this 15min?

It will be helpful if you can provide code snippet of how you initialize the environment and execute the mutations

[2019-02-21 10:41] DeMoss15 commented on #121
@sunchunqiang It's only approximately steps.
Internet connection is on (wifi). Than user executes some mutations and leaves his phone laying down for [about]15 minutes (intenten still on). Then he takes this phone, switches internet connection to mobile internet. And here it is. Mutations stop working.
This issue is duplicate of [this](https://github.com/awslabs/aws-mobile-appsync-sdk-android/issu

[2019-02-21 19:29] kvasukib commented on #120
@JagritiHirwani Sorry that you are running into issues. Can you explain the issue you are facing? Are you able to send data to your DynamoDB Table?

[2019-02-23 11:23] SahajRana commented on #114
Hey, this error is not easily trackable as it appears randomly, below is the code where the error is

[code]

Error::
[code]

[2019-02-24 07:35] SahajRana commented on #114
@cbommas @kvasukib please have a look as we are moving to production pretty soon so it would be a real problem if the application crashes!

[2019-02-25 18:30] cbommas commented on #121
@DeMoss15

I see the same behavior as in #108. In the attached log, I see that the device went offline at 16:31:31

      02-08 16:31:31.164  2511  3000 D AppSyncOfflineMutationManager: Thread:[3168]: Internet DISCONNECTED

After that I see the following at 16:31:58, 17:03:18 and 17:03:22 in the log, but at no point do we get a signal that the device was connected.

      02-08 16:31:58.491  2511

[2019-02-25 19:20] paulfthomas commented on #114
I'm encountering the same issue with the version `2.7.7`:
[code]
Downgrading to `2.7.6` solves it but the initial bug described by @SahajRana reappears.

[2019-02-25 23:23] cbommas commented on #122
@tom-homewood-dyson

Thanks for bringing this issue to my attention. I am looking into this and will post an update here once I have more information.

[2019-02-25 23:28] cbommas commented on #120
@JagritiHirwani
Just curious about why you are accessing DynamoDB directly instead of using AppSync.

For the issue at hand, can you share logs and stack traces?

[2019-02-25 23:36] cbommas commented on #116
@gitnarqt
I would like to setup a call to discuss this with you along with others on my team.
Would you be open to it? If so, send me your contact info ( my handle is chabom at amazon.com) and I'll get a call organized.

[2019-02-26 01:22] cbommas commented on #111
@mitmak777
Closing this issue as you may be all set. Please feel free to post here if this issue is still happening .

[2019-02-26 01:22] #111 closed

[2019-02-26 04:28] cbommas commented on #114
@SahajRana, @paulfthomas

The latest release of the SDK, 2.7.8, has logic to protect against this crash. The crash appears to be due to a race condition between a subscription cancellation and  subscription re-connection logic.

I wasn't able to reproduce this locally, as this is somewhat of a tricky one to reproduce. Could give the latest rev a try and let me know if resolves the issue?

[2019-02-26 04:31] cbommas commented on #121
@DeMoss15

While I wasn't able to reproduce this locally, I made some tweaks to the network checking logic to be more resilient. Can you give the latest version, 2.7.8, a try and see if that resolves the issue?

[2019-02-26 04:32] cbommas commented on #108
@ukevgen @DeMoss15

While I wasn't able to reproduce this locally, I made some tweaks to the network checking logic to be more resilient. Can you give the latest version, 2.7.8, a try and see if that resolves the issue?

[2019-02-26 09:55] DeMoss15 commented on #121
@cbommas

Yes, we have `android.permission.ACCESS_NETWORK_STATE` permission in out manifest. I will update dependencies and try reproduce it again today.

[2019-02-26 12:57] gitnarqt commented on #116
@cbommas thank you for that, we would love to jump on a call and discuss this further. Just sent an email

[2019-02-26 19:43] paulfthomas commented on #114
@cbommas it seems that `2.7.8` resolves the issue 👍

[2019-02-26 19:55] cbommas commented on #114
@paulfthomas

Excellent! thank you for confirming. I will go ahead and close this out. Please feel free to post back on this thread if you or @SahajRana run into further issues.

[2019-02-26 19:55] #114 closed

[2019-02-27 01:12] btilbrook-nextfaze commented on #91
This issue makes the AppSync Gradle Plugin incompatible with the minimum supported Gradle version for Android Gradle Plugin `3.4.x`, which is Gradle `5.1.1`.

Downgrading to Gradle `4.x` is not an option.

AGP `3.4.x` will likely go stable soon, and this blocks upgrading to it.

@cbommas @rohandubal Can you comment on when this will be addressed?

[2019-02-27 05:45] SahajRana commented on #114
@cbommas yes, it seems from my side as well that it's fixed. 👍

[2019-02-27 19:24] devxpy opened #124 "AppSync ensure all items are receieved from dynamoDB"
Hey there!

I have around 3K items in my dynamoDB database, and I need to fetch almost all of them.

I wrote a paginator that fetches items in batches of 500 until the `nextToken` is returned as null.

However, this approach seems to return an inconsistent amount of "total" items.

What's the recommended way to do this?

Using this -> `implementation 'com.amazonaws:aws-android-sdk-appsync:2.7.+@aa

[2019-02-28 14:11] devxpy commented on #115
Wow, this issue single-handedly managed to take down an entire app

[2019-03-01 14:28] Joseph82 commented on #116
@cbommas @gitnarqt is there any development?

[2019-03-01 14:39] mithleshjs opened #125 "Can I use this SDK with my own GraphQL endpoint?"
I have my own custom back-end with both GraphQL and REST API. I was able to connect my REST API with AppSync using HTTP endpoint. But since AppSync is based on GraphQL, I was wondering if I can use this SDK to directly consume my GraphQL API.

[2019-03-01 17:13] cbommas commented on #125
@mithleshjs
yes, this SDK is intended to be used directly with GraphQL API implemented using AppSync.

[2019-03-01 18:49] mithleshjs commented on #125
What I am saying is my GraphQL API is not implemented with AppSync.

[2019-03-01 20:50] devxpy commented on #124
@cbommas I'm really sorry. My testing methodology was broken.

The number of items returned is 100% consistent across devices.

[2019-03-01 20:50] #124 closed

[2019-03-01 20:54] muellerfr commented on #124
@devxpy - thank you for updating the issue, and happy to hear it's working.

[2019-03-04 10:34] DeMoss15 commented on #108
@cbommas
We can't reproduce it anymore. Thank you!

[2019-03-04 10:34] #108 closed

[2019-03-04 10:34] DeMoss15 commented on #121
@cbommas
We can't reproduce it anymore. Thank you!

[2019-03-04 10:34] #121 closed

[2019-03-04 15:54] nemanjanedic commented on #91
Not having support for the current version of Gradle is really bad. And closing this issue as "fixed" is even worse.

[2019-03-04 17:50] cbommas commented on #121
@DeMoss15

Glad to know that the issue is resolved. Thanks for confirming.

[2019-03-05 01:47] cbommas commented on #125
@mithleshjs
Sorry, I misunderstood. Unfortunately, you can't use this SDK with an API that is not implemented in AppSync.

[2019-03-05 09:08] #125 closed

[2019-03-05 13:58] richienko opened #126 "How to use getStore().write() when using jobconnection with token?"
**State your question**
Updating this query cache is simple (I'm using tutorial source code):

[code]
How to build query builder when using pagination (*Connection) in schema? Query builder has limit and next token fields. When I provide limit and random token, the next query will return nothing.

Maybe second question? - I also have to provide exactly same limit for writing to cache builder as on

[2019-03-07 04:05] donaldjarmstrong commented on #103
@cbommas need more information?

[2019-03-07 11:58] Joseph82 opened #127 "Apollo mapping not working with Appsync Gradle plugin 2.7.8"
We were using appSync gradle plugin, version `2.6.17`. But now we are trying to switch to the latest available `2.7.8`. ('com.amazonaws:aws-android-sdk-appsync-gradle-plugin:2.7.8').

The problem is that after the update, the custom adapter we wrote doesn't work anymore. It is a `AWSDateTime<->java.util.Date` defined in the gradle as follow:

[code]
Now the generated Java model doesn't have anymor

[2019-03-08 03:20] btilbrook-nextfaze commented on #127
Looks related to #77

[2019-03-08 09:03] rahatshahzeb commented on #47
I have been facing the same issue. My schema is below:

[code]
If I remove the id, it works fine. I have tried to change the type of id to String but it didn't work. Please help.

[2019-03-09 12:12] JagritiHirwani commented on #120
@cbommas
Sorry for replying so late.

I have created an AppSync Api in my aws and imported a DynamoDB table containing humidity and temperature values.  I followed the steps given [here](https://aws-amplify.github.io/docs/android/api).

The code in MainAcitivity is as follows:

`public void query(){
        mAWSAppSyncClient.query(ListTemperatureHumidityTablesQuery.builder().build())

[2019-03-11 05:13] rahatshahzeb opened #128 "ApolloParseException - Failed to parse http response - java.lang.ClassCastException: java.math.BigDecimal cannot be cast to java.lang.String"
Getting ApolloParseException while parsing the below schema:

[code]

 - AppSync SDK Version: 2.7.8
 - Device: OPPO A71k, Emulator
 - Android Version: Nougat 7.1.1

If I remove the `id` from schema, it works fine. What could be the possible reason?

[2019-03-11 12:59] zeroDivider commented on #91
@nemanjanedic I totally agree, I don't know how AWS staff approves this. It seems they won't fix this issue.

@rohandubal, can we expect any kind of solution soon?

[2019-03-11 16:02] muellerfr commented on #91
Hi @btilbrook-nextfaze, @nemanjanedic, and @zeroDivider, this issue was closed by mistake, as we have not yet implemented support for  Gradle  5.x. Thank you for bringing this to our attention. I am reopening the issue.

[2019-03-12 01:40] leijdekkers opened #129 "Database crash: appsyncstore-journal"
When i launch the android app for the first time on a device I get a fatal database crash:
 **"Application has opened too many files. Maximum of available file descriptors in one process is 1024 in default."**

It points to this file: /data/user/0/com.fixxt/databases/appsyncstore-journal

So it looks like the appsyncstore-journal database does not close properly.

This only happens the first time

[2019-03-13 21:20] devxpy opened #131 ""appsyncstore" database too large"
So I noticed that my app's storage usage is increasing for no apparent reason over time.

Inspecting further, I saw that the "appsyncstore" database is taking up too much space, and it increases quite rapidly..

[code]

It seems to occur even when I use `AppSyncResponseFetchers.NETWORK_ONLY`

Even running `appSyncClient.store.clearAll()` won't help.

[2019-03-14 14:32] truongnguyen-agilityio opened #132 "Failed to parse http response - Stack is empty."
I met error when query a list Post
com.apollographql.apollo.exception.ApolloParseException: Failed to parse http response
message: Stack is empty.

this is graphql file:
[code]
This is my code:
[code]
pls help me

[2019-03-15 05:29] truongnguyen-agilityio commented on #132
I resolved my issue;
Field startedAt is not nullable but server returned Null value, so Failed to parse http response

[2019-03-15 05:29] truongnguyen-agilityio commented on #132
@cbommas  pls close this issue, Thank so much

[2019-03-15 16:00] cbommas commented on #132
@truongnguyen-agilityio

Glad to hear that you were able to resolve the issue.

[2019-03-15 16:00] #132 closed

[2019-03-17 20:59] rohandubal commented on #128
Hello @rahatshahzeb

Sorry that you are having issues using the SDK. Could you please post your schema here so that I can try to reproduce this on my side?

Thanks,
Rohan

[2019-03-17 21:01] rohandubal commented on #129
Hello @leijdekkers

Does this happen with the android sample app published by AWS or Does it happen in your own application? Is it possible for you to provide a small application where we can reproduce this issue?

Thanks,
Rohan

[2019-03-17 21:03] rohandubal commented on #131
Hello @devxpy

Have you recently noticed this change after upgrading to a different SDK version or is it part of the same app? Has the app been doing more queries and the data being cached? This would explain why the cache size keeps growing for you.

Thanks,
Rohan

[2019-03-18 00:27] leijdekkers commented on #129
It happens to my own app where i have other Room database tables. I am
pretty sure i do not open to many "dao" connections to the database. To me
it seems that the AWS library opens to many "dao" connections to the
database without closing them in time. Can you check that when you
read/write/insert/delete to the database you do not have statements like
this "database.awsDao().insert(...)". If you

[2019-03-18 05:43] devxpy commented on #131
Sorry, should have mentioned this.

I've been using these since the first commit -

[code]

---

The app does sync on every launch. So, I couldn't care much for the cache. I already have that in the form of a couchbase DB.

[2019-03-20 07:05] Capotasto opened #133 "Useless log outputs shows forever"
Hi, I'm using AppySync without caching right now.
And I am flustered about useless log output on the Logcat like below.
It outputs every 10 seconds and repeats forever.

Can we make this stop?

Thank you

[code]

[2019-03-20 16:26] jennytick opened #134 "Failed to parse http response, Caused by: java.lang.IllegalStateException: Stack is empty."
**Describe the bug**
A batch query which works fine in iOS AppSync SDK fails in Android when one (or more) of the items in the returned list is `null`. This same query works fine if all items are not `null`. Also, testing the query in AppSync console in AWS works fine - returns a list of items which has `null` at indexes of objects which are not present in the data source. So the issue seems to be

[2019-03-20 20:59] paulfthomas opened #135 "Support `null` literal for optional fields"
Not sure if it's a bug or a missing feature but `null` literals don't seem to work.
Passing `null` to an optional field for a mutation results in the field being ignored.

It's been added to GraphQL, see https://github.com/facebook/graphql/pull/83

[2019-03-25 06:07] okayan commented on #128
@rohandubal I had occurred the same problem. (ApolloParseException)
Probably Int type **id**  is a factor.
If I remove the id from the schema, it works fine, too.

[2019-03-25 17:17] minbi commented on #133
Hi @Capotasto ,

We will need to investigate the logging mechanism used and provide options, if possible.

[2019-03-25 17:30] minbi commented on #135
Hi @paulfthomas ,

We'll need to look into this. Thanks for the report.

[2019-03-25 17:30] minbi commented on #134
Hi @jennytick ,

We'll need to look into this. Thanks for the report.

[2019-03-26 12:37] JgdshSeerm commented on #129
It all happens for my own app, which I don't have any databases. I'm facing the above issue for the first time.

Any idea??

Thanks in Advance

[2019-03-26 18:42] vermasumeet1982 opened #136 "IOException not propagated to GraphQLCall.Callback and Appsync goes into a indefinite loop"
**Describe the bug**
I am setting my own `OKHttpClient` on `AWSAppSyncClient` and there is a particular Wifi which is giving socketTimeoutException. The RetryInterceptor on AppSync goes into an indefinite loop and `GraphQLCall.Callback.onFailure()` is never invoked.

**To Reproduce**
Steps to reproduce the behavior:
This is very difficult to reproduce outside a particular Wifi for me. I connect to

[2019-03-26 18:55] minbi commented on #136
Hi @vermasumeet1982 ,

Thanks for reporting this issue to us. We'll update you when we know more.

[2019-03-27 10:15] vermasumeet1982 commented on #136
Thanks @minbi .

[2019-03-27 21:16] eliasbagley commented on #91
Any update on this?

[2019-04-02 00:36] desokroshan commented on #103
@donaldarmstrong We have all the information required to start investigating the issue. I will try to reproduce the issue and let you know if I need any further information. Thanks!

[2019-04-02 05:00] watanabethais opened #137 "AWSKeyValueStore: Error during encryption key generation or key loading"
I'm using Authentication in my App with Drop-In Auth and I can't login.

Error:
[code]

**Environment(please complete the following information):**
 - AppSync SDK Version: 2.7.+

**Device Information (please complete the following information):**
 - Device: Huawei MediaPad M3 Lite 10
 - Android Version: 7.0

**Additional context**
When I clear the memory and cache of the App in Application Setting

[2019-04-02 08:17] JgdshSeerm opened #138 "Offline Mutations are failed, when the user is logged out"
I have added Offline mutations, then the user is logged out due to inactive.
Now the user is back with the internet, but there is no accesstoken. and the offline mutations are started to sync. and expectedly it fails due to **401( authorization == null)**.

Help me with any ideas to handle this type of scenaiors.

[2019-04-02 10:20] yendanghms opened #139 "Subscriptions to mutations don't work when the device that is subscribed to mutation is offline and comes back online"
I am having issue with Amazon AppSync as below:
#### Problem:
##### Function awsAppSyncClient. subscribe (subscription) can't listen.

#### Environment:
##### Android Studio 3.3.2
##### Gradle: 3.3.2
##### Amazon SDK : com.amazonaws:aws-android-sdk-appsync-gradle-plugin:2.7.+
##### Programming Language: Kotlin

#### Function awsAppSyncClient.query work fine.

I am flowing to Amazon’s document at:

[2019-04-02 17:01] kvasukib commented on #137
@watanabethais Sorry for the inconvenience caused.

From the stacktrace, I could see that loading the refresh token from the cache (SharedPreferences) failed because we couldn't successfully decrypt the data.

From the exception messages you have posted, I can see this happening when the key used for encryption cannot be loaded from the keystore or the IV used for encrypting the data is not the ri

[2019-04-02 23:49] watanabethais commented on #137
@kvasukib Thank you for your quick response!

I found these exceptions before the error in decrypting data:

[code]

About the Android KeyStore in Logcat:

[code]

Am I missing some library in my project?
That's weird because a few weeks ago everything was working normally.

[2019-04-03 00:02] kvasukib commented on #137
@watanabethais Thank you for the logs. I couldn't spot any occurrence of key load/create failing. Can you describe how have you configured your app for authentication?

What are the libraries you are depending on in your app for accomplishing authentication? Can you post a sample code snippet?

Have you tried running your app on other emulators besides API 24? Is the issue consistently reproducibl

[2019-04-03 01:52] gyurme-accedo opened #140 "Crash due CursorWindow exception which results in a OutOfMemoryError"
**Overview**
We've noticed a sporadic bug where our app crashes with the following stack trace when the app is in the middle of a download (from CDN links we receive after user pool authentication with AWS appsync)

**To Reproduce**
Steps to reproduce the behavior:
1. The app authenticates via Appsync with a specific user pool
2. A graphql query is run to retrieve CDN links which have an expiry da

[2019-04-03 02:18] minbi commented on #137
Hi,

We just SDK release 2.12.7 which should help make the error more clear. This is not a fix, but should help @kvasukib solve the issue.

[2019-04-03 02:26] gyurme-accedo commented on #140
When running our app in strict mode we receive the following warnings:

[code]

[2019-04-03 02:34] watanabethais commented on #137
@kvasukib @minbi  After testing with Emulator in API 24 instead of my Android device, only the ClassNotFound error appeared and I logged in normally.

So I decided to restart my device and the decrypting error is now gone... sorry for causing this trouble!! Now I can normally log in, but the ClassNotFoundException still appears in API levels 24, 26 and 28.

[code]

I followed [this](https://aws.am

[2019-04-03 02:59] minbi commented on #137
Hi,

We are looking into a way to silence the ClassNotFoundException, but it is an artifact of optional features that we built into the AWSMobileClient. It should not be a concern in this case.

[2019-04-04 04:13] gyurme-accedo commented on #140
Awesome thanks for the quick fix guys, any chance we can get a ETA on the next release that has this fix? We have a release of our own that needs it :)

[2019-04-04 23:45] watanabethais commented on #137
@minbi I got it, thanks!

I'm not having this issue anymore, thank you for your patience!

[2019-04-05 08:52] hms-tuanpham opened #144 "App crashes on API level below 21"
**Describe the bug**
App crashes on API level 19.
`java.lang.ExceptionInInitializerError
        at okhttp3.OkHttpClient.newSslSocketFactory(OkHttpClient.java:296)
        at okhttp3.OkHttpClient.<init>(OkHttpClient.java:262)
        at okhttp3.OkHttpClient$Builder.build(OkHttpClient.java:1054)
        at com.amazonaws.mobileconnectors.appsync.AWSAppSyncClient.<init>(AWSAppSyncClient.java:158)

[2019-04-05 16:42] desokroshan commented on #103
@donaldarmstrong
Update: I have drafted a [PR](https://github.com/awslabs/aws-mobile-appsync-sdk-android/pull/143) with changes from the apollo issue referenced above. It's a work in progress. I am working on completing validations on my end and adding some tests. In the meantime feel free to work off of the branch and check if it forms the cache key appropriately.

[2019-04-06 00:16] minbi commented on #140
Hi,

Please see if SDK release 2.7.9 fixes this issue for you. We have added the following:

You may see all changes in the [changelog](https://github.com/awslabs/aws-mobile-appsync-sdk-android/blob/master/CHANGELOG.md#release-279)

[2019-04-08 10:57] Camerash opened #145 "[Performance] Apollo NormalizedCache performs merges for every item in its own separate transaction"
**Describe the bug**
During an AppSync mutation where server changes are needed to merge with local cache, each item in the record set are merging with its very own separate transaction, which are very slow and causes performace issue.

The bug was already found and resolved in the main Android Apollo repo. The issue can be found [here](https://github.com/apollographql/apollo-android/issues/726),

[2019-04-08 10:59] c-samuel commented on #145
Same issue here! AWS team help 🙏

[2019-04-08 18:37] rohandubal commented on #139
Hello @yendanghms

Could you please provide some more information regarding when you encounter this issue? What schema are you using? Can you paste some sample code?

Best,
Rohan

[2019-04-08 23:42] donaldarmstrong commented on #103
Hello @desokroshan  and thank you for your help.

[2019-04-09 02:20] yendanghms commented on #139
Hi @rohandubal ,

1. Here is GraphQL :

[code]
2.  Here is schema.graphql

[code]

3. Kotlin code

- Init AWS

[code]
- Subscription event
[code]

Thank you!

[2019-04-09 04:52] donaldarmstrong commented on #103
Here is what the cache key looks like with your changes...

[2019-04-09 05:12] gyurme-accedo commented on #140
Thanks guys, we did some stress testing over multiple devices and it looks good to us.

[2019-04-09 16:04] desokroshan commented on #139
@yendanghms Thanks for sharing the schema and code snippet. I will try to reproduce the issue on my end and post my updates here.

[2019-04-09 16:07] minbi commented on #140
Thanks for verifying, closing. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2019-04-09 16:07] #140 closed

[2019-04-11 11:06] alanvan0502 opened #147 "Fatal Exception: android.database.sqlite.SQLiteDatabaseLockedException"
**Describe the bug**
Database is locked when AppSyncMutationSqlCacheOperations.deleteRecord is called (see stacktrace)

**Expected behavior**
SQLiteDatabase should not throw the LockedException.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/39388837/55952615-3bc95700-5c84-11e9-9ae5-447d40bbdfdd.png)

**Environment(p

[2019-04-11 12:02] DeMoss15 commented on #65
@cbommas
Hello.

We've caught very similar exception with similar stacktrace on executing a lot of mutations but on *AppSync 2.7.8*:

[code]

[2019-04-11 15:16] desokroshan commented on #103
Thanks for the detailed response. I see that with the changes from PR cache keys are formed as you would expect. I get cache key as : `getEvent2({"id2":{"id":"05f98509-5cf0-44fd-a484-cffb715af30f"}})` for following input type in schema
[code]
query :
[code]
How are you consuming these changes? Also can you confirm that the input types in generated code are subclasses of [InputType](https://github.

[2019-04-12 03:56] alanvan0502 commented on #147
Thanks @desokroshan Look forward to receiving the feedback from you.

[2019-04-13 00:44] cbommas commented on #136
@vermasumeet1982

The `RetryInterceptor` back off mechanism is hard-coded currently. It will be great if you can submit a Feature Request if you want this to be configurable.

Looking at the logs you provided, I see 2 mutations

The first mutation 2c95b8af-00ca-4147-83d8-b6624eebca60 is canceled and is removed from the queue. For canceled mutations, the callback will not be invoked.

     2019-03-

[2019-04-13 16:06] donaldarmstrong commented on #103
Thanks for the InputType hint.  I could not get the gradle plugin working, so I manually added the InputType like `public final class GetOrderInput implements InputType`.

Here is the cache after adding the interface
`
rootRecord = {Record@7175}
 fields = {LinkedHashMap@7177}  size = 2
  0 = {LinkedHashMap$LinkedHashMapEntry@7182} "listShifts({"filter":{"fromShiftDate":null,"salon":{"id":"3"},"toS

[2019-04-13 16:06] #103 closed

[2019-04-16 16:25] eliasbagley opened #149 "How to optimistically delete item in uncountable large data set?"
Hey all -

I'm hoping you can help me out with a use case I'm struggling with. I'm working with the events starter app, and have added a little bit more functionality to prove out using AppSync for a realtime messaging application. I'd like to provide the user the ability to scroll up multiple pages, and delete a single item from the dataset, and have the UI automatically re-render from the state

[2019-04-17 00:17] btilbrook-nextfaze commented on #91
AGP `3.4.x` is very close to going stable. Really hoping for an update on this soon. AppSync will be holding us back otherwise.

[2019-04-17 11:49] Sanghati commented on #139
I am facing the same issue, I am subscribe to a mutation while online my subscription is working fine but when I mutate using console and changing my device mode from offline to online the subscription is not working. My device here is android.

[2019-04-17 22:14] gilzhaiek commented on #91
Seems like you can't downgrade with Android Studio 3.4
<img width="525" alt="Android Studio 3.4 Warning" src="https://user-images.githubusercontent.com/1591882/56324360-7bc88800-6123-11e9-81a8-0385b1c38001.png">

[2019-04-17 22:56] btilbrook-nextfaze commented on #91
If using Gradle `4.x`, you'll need to use AGP `3.3.x`.

[2019-04-18 03:40] emajewicz commented on #91
Any update Appsync team? I'd image this is causing a lot of pain for anyone using appsync that just upgraded to 3.4

[2019-04-18 06:30] Sanghati opened #151 "Subsription is not working offline in android"
**Describe the bug**
I subscribe to a mutation in my app , when my app is online the subscription is working fine but in an offline scenario or aeroplane mode when I mutate using console and changing my device mode from offline to online the subscription is not working. My device here is android also I am login using cognito user pool. Kindly help me to find a solution. Below is the error I am fac

[2019-04-18 13:39] dabitdev commented on #91
More problems now... android studio 3.4 is forcing to use gradle 5.1.1 😢
`Minimum supported Gradle version is 5.1.1. Current version is 4.10.1.`

[2019-04-18 14:58] w0mba7 commented on #91
Well just did the upgrade to Android 3.4 and ran into this issue as well.

[2019-04-18 17:28] gilzhaiek commented on #91
@btilbrook-nextfaze thank you!  it worked
<img width="530" alt="Screen Shot 2019-04-18 at 10 24 53 AM" src="https://user-images.githubusercontent.com/1591882/56379313-5475c780-61c4-11e9-9647-6a4362cd4c56.png">

[2019-04-18 18:38] palpatim opened #152 "Cannot resolve symbol 'CreateTodoInput'"
Originally opened by [JanHorcicka](https://forums.aws.amazon.com/profile.jspa?userID=481169) on [AWS Forums](https://forums.aws.amazon.com/thread.jspa?threadID=301751&tstart=0)

---

I am following Android SDK guide step by step. https://aws-amplify.github.io/docs/android/start?ref=amplify-android-btnEverything is running smoothly until I get to the Step 5. I cannot continue because Android Studio

[2019-04-19 05:54] DeMoss15 opened #153 "How to handle java.lang.IllegalStateException at RealAppSyncCall.java:383"
@cbommas
Hello.

We've caught exception very similar to issue #65 with similar stacktrace on executing a lot of mutations but on *AppSync 2.7.8*:

[code]

[2019-04-19 22:40] muellerfr commented on #116
Hi @awsed, can you take a look at this issue?

[2019-04-22 14:59] palpatim commented on #151
@Sanghati

There are timing issues to account for when moving from no-network to network scenarios. AppSync implements a lot of handling around these scenarios in its [Delta Sync feature](https://aws-amplify.github.io/docs/android/api#delta-sync). Such timing would make a difference in whether your app successfully receives subscription data when returning to an online state. Can you confirm wheth

[2019-04-22 15:01] habahbehbassam opened #154 "Subscribe not receive All messages"
**Chat App**

**Which AWS Services are you utilizing?**
 'com.amazonaws:aws-android-sdk-core:2.13.2'
 'com.amazonaws:aws-android-sdk-appsync:2.7.8'
 'org.eclipse.paho:org.eclipse.paho.client.mqttv3:1.2.1'
 'org.eclipse.paho:org.eclipse.paho.android.service:1.1.1'

**Provide code snippets (if applicable)**

1. Added Permissions and MqttService to manifests
[code]

`<service android:name="org.eclips

[2019-04-22 20:11] palpatim commented on #149
@eliasbagley

There isn't really a good way to delete an object from the associated queries. My suggestion would be to delete the referenced object by its key, then subsequent cached `ListEventsQuery` results would reference a null object, which should cause it to not display.

With that said, we don't currently have tests around this behavior, so it's possible that the Events Starter schema is se

[2019-04-22 20:45] palpatim commented on #151
@Sanghati Another piece of context: the message you're seeing ("Unable to resolve host No address associated with hostname") means the app is still offline. Please confirm that you have appropriate checks in place to prevent issuing a subscription reconnect until you have reestablished network connectivity.

[2019-04-23 08:59] alphamu commented on #137
Sorry for reigniting this one, however I'm getting this on a Pixel 3 running API 28. I'm using the AWS Mobile SDK version 2.13.2. The issue was happening on 2.13.1, so I upgrade and it made no difference. I've uninstall the app and reinstall it, I've restart the phone and no luck. On some of the emulators I had the same issue that magically disappeared.
[code]

[2019-04-23 09:11] alphamu commented on #137
An other thing that is that when I try to login, I get the exception:

[code]
Accept-Encoding: identity
aws-sdk-invocation-id: 46ee0648-86c1-4826-b219-932ff64f66b2
aws-sdk-retry: 0/0
Content-Type: application/x-amz-json-1.1
User-Agent: aws-sdk-android/2.13.2 Linux/4.9.124-g86541ee-ab5292322 Dalvik/2.1.0/0 en_AU AWSMobileClient
X-Amz-Target: AWSCognitoIdentityProviderService.InitiateAuth
Body:
{"Au

[2019-04-23 09:39] Sanghati commented on #151
Kindly let me know what will be the right path to get my offline subscription work.

[2019-04-23 10:19] PSIXO opened #155 "Use Android apollo-client as a dependency instead of modifying its code"
While looking at AppSync code it is obvious that large part of it is just a fork of https://github.com/apollographql/apollo-android
Also that fact is stated in the doc on the first page.
For example class
AppSyncResponseFetchers
is exactly the same like
ApolloResponseFetchers
down to the docs. Only class name and Licence header are different in this case.
My guess is that team behind the Android S

[2019-04-23 15:52] palpatim commented on #137
I relabeled this for @kvasukib to take a look. I'm not convinced this is the same root cause though, so we may want to open new issues for each of the two problems that @alphamu reported. If we do open new ones, we'll re-close this to avoid confusing the thread.

[2019-04-23 15:59] palpatim commented on #151
@Sanghati

To be very explicit: I would never expect a subscription message to be received *while* the device is offline. You would only receive subscriptions when the client is online and able to receive messages from the AppSync backend.

That said, Delta Sync is our recommended solution to let the client manage reconnections. If using the full backend setup, it also reduces overhead by making "

[2019-04-23 18:34] eliasbagley commented on #149
Thanks for the reply @palpatim - I tried your suggestion by doing:

[code]

I was able to confirm that this does indeed delete the item from the cache as expected, but doesn't cause my UI to optimistically updated like I want, because it causes my QueryWatcher to experience a cache miss. Because my QueryWatcher is `CACHE_ONLY`, I get a null list. I was hoping that the query watcher would return so

[2019-04-23 19:44] JanHorcicka commented on #152
Hello Roshan,

do you have any update on this?

Thanks,

Jan

[2019-04-23 19:52] palpatim commented on #149
Unfortunately the cache design doesn't really incorporate the idea of "membership" in a way that makes it easy to find operations that reference individual model objects. Short of maintaining a list yourself (that is, a map of objects to operation keys in which those objects are referenced), I'm not sure what else could be done.

This seems like it would be a good feature request as we consider Ap

[2019-04-23 20:04] palpatim commented on #155
@PSIXO Although you're correct that large parts of the code are the same, we did modify some of the core behaviors. I haven't done an analysis for Android yet, but for iOS, a non-comprehensive list of changes includes:

- Expose whether a result was served from service or cache
- Trigger watches when writing to cache within a transaction
- Allow null result values to be propagated in selection set

[2019-04-24 12:18] alanvan0502 opened #156 "java.lang.IllegalStateException: Stack is empty"
**Describe the bug**

We experienced the above bug. Seems like AppSync cannot parse null data. This bug has been reported and fixed on Apollo side (refer to this link: https://github.com/apollographql/apollo-android/issues/542)

**Expected behavior**
AppSync should be able to handle null response. Please review.

**Environment(please complete the following information):**
 - AppSync SDK Version: 2

[2019-04-25 10:05] fruitjem opened #160 "Subscription is not working"
The subscription does not fire events except the onFailure when i'm trying to pass a wrong SessionToken, I did not receive events from the socket.

What i've done is:

Update my project gradle:

`classpath 'com.amazonaws:aws-android-sdk-appsync-gradle-plugin:2.7.+'`

Update my app gradle:

`apply plugin: 'com.amazonaws.appsync'`

and dependencies:

`implementation 'com.amazonaws:aws-android-sdk-ap

[2019-04-25 12:12] arok commented on #136
I'm faced with the same issue and seems like `mutationQueueExecutionTimeout ` is not working for the case. For me this parameter do nothing and I've tried to set 30 seconds but loop still stayed infinite

[2019-04-25 17:02] desokroshan commented on #152
@JanHorcicka The screenshot link is broken. Can you please upload it again?

[2019-04-25 21:23] JanHorcicka commented on #152
Here it is: https://ibb.co/znt7wjC

[2019-04-25 21:58] kvasukib commented on #137
@alphamu

What kind of screen lock settings the end-user with the device is using? From reading through online about Android KeyStore behavior, there are bugs filed with Android KeyStore with exceptions related to key generation and loading when the screen lock is set to NONE (No screen lock) or SWIPE (A regular swipe would unlock the screen).

Also the same exception could happen if the screen lo

[2019-04-26 00:38] alphamu commented on #137
Hey Mate,
I noticed all that as well.
The issue keeps coming up on my personal phone which has a 6-digit pin on it. I also have 2 fingers setup for fingerprint unlock.
The phone is a Pixel 3.
I've tried unlocking the phone with a pin and with a fingerprint and same issue.
I have an older pixel phone with the same setup, and it works fine on there.
I'll also add that I also use the Keystone in my a

[2019-04-26 09:13] arok opened #161 "Crash with java.lang.NullPointerException: value for name authorization == null"
**Describe the bug**
Crash with stacktrace
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Crash reproduces when there are running AppSync operation (like subscriptions or queries) and user try to log out (call AWSMobileClient.getInstance().signOut())

**Environment(please complete the following information):**
 - AppSync SDK Version: 2.7.10

**Device Information (please complete the

[2019-04-26 10:09] DocValerian commented on #91
+1, especially since AndroidStudio forces you to use 5.x now

[2019-04-28 07:13] habahbehbassam commented on #154
@desokroshan any feedback about my issue ?

[2019-04-29 11:34] Joseph82 opened #162 "Signup operation taking too long"
**The signup operation takes too much time on some devices.**

I am using the `com.amazonaws:aws-android-sdk-auth-userpools:2.8.4` for authentication. On some devices I have no problem, the `signUp` takes less than 1 second. However on some other devices it takes exactly 30 seconds more (30,5 seconds). I tried to understand if it could be related with the Android version, but it doesn't seem the c

[2019-04-29 12:43] bvdaakster opened #163 "Multidimensional array support"
**Is your feature request related to a problem? Please describe.**
I am trying to implement a mutation with a multidimensional array argument as below.
[code]
This results in the following generated marshaller:
[code]
This causes an error because `marshaller()` does not exist on `List<CoordinateInput>`.

**Describe the solution you'd like**
Built-in support for multidimensional arrays in the Graph

[2019-04-29 15:41] palpatim commented on #162
@Joseph82

Are you able to reproduce this on the latest version (2.13.3)?

Also, I see you're opening this issue on the AppSync repo. Is that because you're only able to reproduce this issue while integrating with the AppSync client, or is it something you've observed in other clients as well. I will say we haven't observed any issues like this that are tied to specific Android or Device versions

[2019-04-29 15:46] palpatim commented on #163
@bvdaakster Thanks for the report, we'll add this to our backlog and update when we have more info.

[2019-04-29 15:52] bvdaakster commented on #163
Thank you for the quick reply. For anyone wanting to do the same; I ended up wrapping the `CoordinateInput` into another input:
[code]

[2019-04-29 16:24] Joseph82 commented on #162
Hi @palpatim Yes I reproduced it also with 2.13.3, but I did some more testing and I can probably exclude a software problem on the client library. It might be, instead, a problem with the AWS backend, due to traffic limitations: when I was indeed switching to a new network, there was no delay. It might be that after reaching the limit, the request are throttled and the client has to wait.

And ye

[2019-04-29 16:53] kotomisak commented on #91
Any estimates with support for Gradle 5.x?

[2019-04-29 17:25] palpatim commented on #162
@Joseph82 Thanks for the clarification. I'll close this for now, if you rule out a "hitting the limit" root cause, please feel free to open a new issue with the relevant details.

[2019-04-29 17:26] #162 closed

[2019-04-29 17:44] palpatim commented on #163
Thanks for the update--that seems like a good workaround for now.

[2019-04-29 18:24] kvasukib commented on #137
@alphamu Thank you for the detailed response. I will try to run our integration tests on Pixel 3 device to see if I can reproduce the issue you are encountering. Meanwhile, can you post a code snippet which reproduces the issue?

[2019-04-29 19:41] animalmagnetic commented on #91
Same issue here. I've been dealing with this since yesterday.

Glad to find out the root cause at least; pissed to be lured into this trap though.

[2019-04-30 06:38] alphamu commented on #137
The crash occurs on initialize as show below.
It may be worth pointing out that I was repeatedly doing the following on the Pixel 3, as well as on other devices:
Everything is with custom screens.
- Login with an account that requires reset password
- Reset password
- Login
- Logout
- Forgot password
- Reset password
- Login

I was doing these steps across 3 different devices one at a time. So, 2

[2019-04-30 11:53] mlykotom commented on #155
100% percent agree, it is even more problematic now, when android studio 3.4 is stable and gradle 5.1+ needs to be used (issue here https://github.com/awslabs/aws-mobile-appsync-sdk-android/issues/91#issuecomment-487657581 ) .. and this prevents using this librabry because it is not compilable, althought apollo library already has fix for that.

[2019-04-30 16:25] desokroshan commented on #103
@donaldarmstrong Fix has been released in the version 2.8.0. Thanks for your patience.

[2019-04-30 16:29] desokroshan commented on #161
Thanks for reporting the issue. Could you please share relevant code snippet?

[2019-04-30 17:37] desokroshan commented on #152
This issue has been resolved in an offline discussion. The issue here was with an instruction step in the doc which was not very explicit. I have created a [PR](https://github.com/aws-amplify/docs/pull/649/files) for document update(referenced above).

[2019-04-30 17:37] #152 closed

[2019-05-02 19:22] kvasukib commented on #131
@devxpy Sorry for the delayed response.

`AppSyncResponseFetchers.NETWORK_ONLY` should not store the data in the local cache on the device. Are you sure all of your queries and subscriptions use the `NETWORK_ONLY` fetcher only?

With regards to clearing the cache used for queries, you need to do `appSyncClient.store.clearAll().execute()` in order to clear the local query cache. `appSyncClient.stor

[2019-05-02 20:11] kvasukib commented on #120
@JagritiHirwani Sorry for the delayed response. Do you get a callback with either `onResponse()` or `onFailure()`?

[2019-05-02 21:03] kvasukib commented on #139
@Sanghati Sorry for the inconvenience caused. Let me re-iterate what you said for accuracy:

1. AWSAppSyncClient subscribed to a mutation.
2. Device A is online, subscriptions work great.
3. Device A is offline.
4. Device B (here AppSync console from your desktop) makes a mutation.
5. Device A comes back online.
6. Subscriptions don't work.

Where are you seeing this exception: "java.net.UnknownHo

[2019-05-03 21:20] desokroshan commented on #91
Hello Everyone,

Gradle 5.x support for AppSync plugin has been introduced in the SDK version 2.8.2. Please upgrade and let us know if you see any issues.

Thanks!

[2019-05-04 11:52] sebsto commented on #91
I just upgraded by changing the version number in `build.gradle`  to `2.8.2` and the build still fails with
`Value 'main GraphQL source' specified for property '$1' cannot be converted to a file.`

[code]

Is there anything else to do to upgrade ?

[2019-05-05 13:48] animalmagnetic commented on #91
I still have an issue with my build. I might be missing something as I'm not very experienced in android. Please see details below. Let me know if you need anything else to be provided.

`#Sun May 05 14:41:09 BST 2019
distributionBase=GRADLE_USER_HOME
distributionPath=wrapper/dists
zipStoreBase=GRADLE_USER_HOME
zipStorePath=wrapper/dists
distributionUrl=https\://services.gradle.org/distributions/g

[2019-05-05 17:08] CriPstian commented on #91
Hello @desokroshan I got some time to upgrade all the versions across the project, from appsync version to amplify and gradle.
Unfortunately I hit the same issue, so this **DOES NOT FIX IT**, the code generation still fails with the initial errors,

[2019-05-05 17:18] desokroshan commented on #91
@CriPstian Thanks for the feedback. Can you please share both project's and app's build scripts here?

[2019-05-05 17:57] desokroshan commented on #91
@animalmagnetic  @sebsto Did you update the plugin classpath in the project build.gradle to the following :

[code]

[2019-05-05 18:02] sebsto commented on #91
I am not using classpath, just `implementation` as showed in my `build.graddle` above.
Here is a copy :

[code]

[2019-05-05 18:40] desokroshan commented on #91
The plugin dependency should be in the project-level build script. The snippet above is from the build.gradle for app module.

[2019-05-05 19:15] sebsto commented on #91
That was it !  Solved for me.
This is a tricky one (although documented at https://aws-amplify.github.io/docs/android/start) as this file is not visible from the "Android" perspective / view and we need to explicitly switch to project view to access it :-)
Thanks - problem solved for me

[2019-05-05 22:08] animalmagnetic commented on #91
@desokroshan Thanks for reply.

Please see my project build below. Still having an issue. Though the error seems different now. I didn't want to spam here with my long logs but I can send if necessary. Since it's working for everyone else but me makes me think the problem might not be in the release but somewhere else.

Error:

`// Top-level build file where you can add configuration options commo

[2019-05-06 00:37] desokroshan commented on #91
@animalmagnetic Can you please share the detailed logs, if you think its related Gradle 5.x? If your error is different from OP's, likely its unrelated in which case would you mind opening a different issue?

[2019-05-06 04:36] CriPstian commented on #91
Sure @desokroshan , here are my gradle kotlin build scripts:

<details>
<summary><b>Project Build Script</b></summary>

[code]
</details>

<details>
<summary><b>App Build Script</b></summary>

[code]
</details>

Thanks

[2019-05-06 15:32] desokroshan commented on #91
@CriPstian In your project build script please upgrade your appsyn gradle plugin in path to the following to be able to use the latest changes :

[code]

[2019-05-06 15:52] CriPstian commented on #91
@desokroshan This worked, sorry about the version.
I updated that version by using the IDE suggestion, not checking the version that it used.
I finally got this beautiful message:
[code]

[2019-05-06 15:56] animalmagnetic commented on #91
@desokroshan Thanks for your reply.

I changed my appsync versions to 2.8.+ and I get the following error. If I turn off appsync entries then my build works so I believe it's appsync related.

I'm sending all the config below once again.

app gradle:
[code]

project gradle:
`buildscript {

    repositories {
        google()
        jcenter()
    }
    dependencies {
        classpath 'com.android

[2019-05-06 17:20] CriPstian commented on #91
@animalmagnetic please try what i did and add the specific version `2.8.2` instead of `2.8.+` .

[code]

Hope that works

[2019-05-06 17:29] animalmagnetic commented on #91
@CriPstian I tried that. Then I get this. No idea why the difference.

[2019-05-06 19:06] w0mba7 commented on #91
The updated fixed it for me.

[2019-05-06 21:08] desokroshan commented on #91
@CriPstian @w0mba7 Thanks for the confirmation.

@animalmagnetic I am assuming yours is a separate issue. Can you please upgrade appsync Gradle version as indicated by @CriPstian and open a different issue with stacktrace and other details.

[2019-05-07 07:32] gitnarqt commented on #116
We're facing a small issue with the Third alternative mentioned above that is:

- Make all fields nullable in the schema
- We only add fields to the schema (So we don't delete or modify any field name)
- Handle missing fields (null) on the Android client side

The issue with this approach is if an object was created without the added fields, and then the user updated his app with the new schema th

[2019-05-07 10:40] arok commented on #161
@desokroshan There is no code snippet because the issue occurs in random manere. But I found my fault and fixed the issue. The issue was in configuration of `AppSynClient`
The following method shouldn't return null (but in docs I saw example with null)
`.cognitoUserPoolsAuthProvider(() -> {
                        try {
                            return AWSMobileClient.getInstance().getTokens().g

[2019-05-07 11:23] vermasumeet1982 commented on #136
@cbommas  I tried 15 seconds for `mutationQueueExecutionTimeout` but it seems that the timeout value is not being considered. The sdk ignores it and loop stays infinite

[2019-05-07 11:26] animalmagnetic commented on #91
@desokroshan Thanks for the reply.

Can you guys comment on my gradle scripts just to understand I'm not doing anything wrong there?

I'll open a new case then.

[2019-05-07 11:34] vermasumeet1982 commented on #136
@cbommas  regarding creating a feature request for custom retry policy i guess there is already one open
https://github.com/awslabs/aws-mobile-appsync-sdk-android/issues/79

Would you be working on the already open feature request?

[2019-05-07 11:43] habahbehbassam commented on #154
I think this issue occurs because the subscribe  disconnected after 5 second from connected , and some message lose when reconnect .

How Can increase this 5 second or find any solution for this issue?

Check network monitor image please
![subscribe_network_monitor](https://user-images.githubusercontent.com/17256991/57296442-b0ea4980-70d5-11e9-882a-7919e33e38f3.png)

[2019-05-07 14:43] Guneetgstar commented on #91
@desokroshan thanks for the suggestion, it worked for me too but only after specifying the exact appsync plugin's version i.e. `2.8.2` and `2.8.+` didn't work for me.
![Screenshot (114)](https://user-images.githubusercontent.com/20682846/57308778-8b286900-7104-11e9-98af-790fdbb0f92e.png)

[2019-05-07 14:44] Guneetgstar commented on #91
@desokroshan thanks for the suggestion, it worked for me too but only after specifying the exact appsync plugin's version i.e. 2.8.2 and 2.8.+ didn't work for me.
![Screenshot (115)](https://user-images.githubusercontent.com/20682846/57308835-a85d3780-7104-11e9-8c0d-309f978f1191.png)

[2019-05-07 16:45] desokroshan commented on #91
@animalmagnetic Your build scripts looks good to me. Please feel free to open a new case.

@Guneetgstar Either notation should work. What error message do you get?

[2019-05-08 07:36] Guneetgstar opened #176 "Make generated code's field name different then in schema"
The issue arises when in the schema some field names are changed and to implement these changes one manually have to change all the references to the generated source files fields and hence their setters and getters.
As in Room api, we can use annotation `@ColumnInfo(name = "attribute_name")` and can use any field name for the `attribute_name` for example `name` and it will work just fine means no

[2019-05-08 17:24] #115 closed

[2019-05-09 07:21] habahbehbassam opened #178 "Subscribe Connection time issue"
I have an issue the subscribe not received all actions ,  I think this issue occurs because the subscribe disconnected after 5 second from connected , and some message lose when reconnect .

How Can increase this 5 second or find any solution for this issue?

Check network monitor image please

![subscribe_network_monitor](https://user-images.githubusercontent.com/17256991/57434701-3b50bb80-7244-1

[2019-05-09 07:28] habahbehbassam commented on #178
This issue related with issue number 154 , please check this [issue](https://github.com/awslabs/aws-mobile-appsync-sdk-android/issues/154) for subscribe not received all messages

[2019-05-09 14:43] palpatim commented on #161
@arok Glad you were able to resolve your issue. Can you point out where in the docs you saw the misleading code so we can address it?

[2019-05-09 16:23] rromany commented on #126
Hi,
I have the sames doubts, besides I do not know if it is convenient to keep the big nextTokens in the cache

[2019-05-09 17:00] arok commented on #161
@powerful23 for now the docs about authorisation for AppSync looks good (I mean this section https://aws-amplify.github.io/docs/android/api#cognito-user-pools) but when I started to develop my application (about 2 month before) there was code sample with returning `null` in catch block and I just copy and paste the code into my project and this was an issue.
Don't know should the appsync sdk cover

[2019-05-09 17:31] palpatim commented on #138
@JgdshSeerm

Our expectation is that using CognitoUserPools or AWSMobileClient as your AppSync's auth provider, and you are using `AWS_IAM` or `AMAZON_COGNITO_USER_POOLS` as your auth mode, that the SDK would request a new access token before making a network call--*as long as there is a valid refresh token*.

Can you clarify your use case & configuration for us?

* What SDK version are you using?

[2019-05-09 19:43] #149 closed

[2019-05-09 19:43] #151 closed

[2019-05-09 19:52] desokroshan commented on #122
This should have been fixed with version 2.8.3 of the SDK. Could you please upgrade and confirm @tom-homewood-dyson.

[2019-05-10 21:23] palpatim commented on #176
@Guneetgstar

Thanks for the feature request. We'll add it to our backlog for consideration.

[2019-05-12 14:16] animalmagnetic commented on #91
My problem is also resolved. Seems like it was due to API key being old.

https://github.com/aws-amplify/amplify-cli/issues/808

Thanks for your help.

Serhan

[2019-05-13 14:55] rromany opened #179 "Saving nextTokens on cache for paginated queries"
**State your question**
We are using AppSync in an android app installed on devices that can be offline frequently. Some queries have large numbers of itemes, therefore we are paging them in graphql / dynamodb.

Due to the above,the QUERY_ROOT are beginning to accumulate "NextTokens" , making the record in SQLITE table very heavy, which has given us some problems. We would appreciate some guidance

[2019-05-13 16:25] palpatim commented on #178
@habahbehbassam

I'm not aware of anything that would force a disconnect of a properly-established connection after 5 seconds. You can look at our [Android Events sample project](https://github.com/aws-samples/aws-mobile-appsync-events-starter-android) to see an example of this.

Are you able to provide a small project, or a fork of the events starter, that replicates the problem you're seeing?

[2019-05-13 16:26] palpatim commented on #154
@habahbehbassam Please see my note on #178--I'm not aware of anything that would force a disconnect of a properly-established connection after 5 seconds. Are you able to provide a small project, or a fork of the events starter, that replicates the problem you're seeing?

[2019-05-13 19:11] palpatim commented on #179
@rromany

Thanks for your question. Unfortunately, we don't have a good story for client-side handling of paginated queries. I'm adding this as a feature request and flagging @nikhil-dabhade to take a look at this and consider our product options.

[2019-05-14 01:59] jwu92610 commented on #91
@desokroshan

Thank you very much for fixing this issue.

Using the Project Structure dialog of Android Studio 3.4 (see image below), I updated all dependencies easily to the latest version. A big portion of them are from JCenter. It works just fine.
![image](https://user-images.githubusercontent.com/24750479/57664658-f2836480-75ad-11e9-957f-07de6fa7c437.png)

Below are my Gradle build files.
[pro

[2019-05-14 02:06] jwu92610 commented on #91
P.S.

In project level build.gradle:
classpath 'com.amazonaws:aws-android-sdk-appsync-gradle-plugin:2.8.2'

In app level build.gradle:
//Base SDK
implementation 'com.amazonaws:aws-android-sdk-core:2.13.4'
//AppSync SDK
implementation 'com.amazonaws:aws-android-sdk-appsync:2.8.3'
//Pinpoint SDK
implementation 'com.amazonaws:aws-android-sdk-pinpoint:2.13.4'
implementation('com.amazonaws:aws-android-

[2019-05-14 09:31] habahbehbassam commented on #178
@palpatim please give me your email, I will send sample project for you.

[2019-05-14 09:40] habahbehbassam commented on #154
@palpatim Please give me your email, I will send sample project for you.

[2019-05-14 12:03] habahbehbassam commented on #178
@palpatim I have checked Event App and my code looks the same , but the problem still exists .
I sent a sample project to this email _palpatim@palpatim.com_ , Because I don't want to expose my schema.

[2019-05-14 12:04] habahbehbassam commented on #154
@palpatim I have checked Event App and my code looks the same , but the problem still exists .
I sent a sample project to this email palpatim@palpatim.com , Because I don't want to expose my schema.

[2019-05-14 23:14] desokroshan commented on #128
@rahatshahzeb @okayan Can you please share the stacktrace and schema so that I can try to reproduce on my end?

[2019-05-14 23:19] desokroshan commented on #134
We are tracking this in Issue #156. Closing this as duplicate.

[2019-05-14 23:19] #134 closed

[2019-05-16 14:58] palpatim commented on #161
Thanks for the update. Closing.

[2019-05-16 14:58] #161 closed

[2019-05-16 19:55] #122 closed

[2019-05-16 21:39] nchorniy commented on #113
Is there any progress on that issue? It's absolutely required to know which mutation has failed so that error could be handled (either re-enqueue the mutation or handle the failure in some other way).

Also, is `PersistentMutationsCallback.onFailure()` called if and only if the mutation is not going to be re-tried? If not, could some info be added to the `PersistentMutationsError` (like `willBeRem

[2019-05-17 00:58] starer93 commented on #154
I got the same issue, in my case, it's less than 5 seconds, it is constantly adding new subscription object and close old connection.

wondering if this has anything to do with the backend settings

[2019-05-17 01:47] rohandubal commented on #113
Hello @nchorniy

Thanks for reporting this issue. I am discussing with team what option we can provide so that the mutation data/ payload is accessible.  I will post an update once we have some concrete steps in hand.

The onFailure callback is done when the mutation is no longer going to be retried(and is removed)

Thanks,
Rohan

[2019-05-19 22:54] jamesatfish commented on #137
We are also seeing this issue with a number of our Android users, mainly with recent Samsung phones.

Users are reporting various login related issues (being unable to authenticate with their credentials, finding that their tokens from an active session cannot be retrieved etc), and all the logs are similar:

[code]

[2019-05-20 02:12] linxu1231 commented on #154
I got the same issue. IOS is just work fine which calling the same subscription.

[2019-05-20 14:52] nchorniy commented on #113
@rohandubal @gitnarqt
Update on this issue. It seems that some sort of information about mutation has to be passed both in `PersistentMutationsCallback.onFailure()` **and in `PersistentMutationsCallback.onResponse()`** callbacks.

Looks like passing `Operation` object (which hopefully can be decoded from `PersistentOfflineMutationObject.requestString`) into both of these callbacks should get enoug

[2019-05-20 16:21] #138 closed

[2019-05-21 01:48] starer93 commented on #154
I got it working.
if you use :  compile 'com.amazonaws:aws-android-sdk-appsync:2.8.+'
however, if you following the [doc](https://aws-amplify.github.io/docs/android/api) ,using implementation 'com.amazonaws:aws-android-sdk-appsync:2.9.+', then this issue occurs.

[2019-05-21 10:59] habahbehbassam commented on #154
@starer93  I try it but still lose some messages , are you sure your subscribe receive all messages ?
if yes , please send for me sample of your code for My mail ( habahbehbassam@gmail.com ).

Thanks ;

[2019-05-21 22:07] #91 closed

[2019-05-22 04:40] okayan commented on #128
@rahatshahzeb I corrected the hierarchy and then I got no errors.
So I can't share stack trace and schema.

[2019-05-22 12:37] dabitdev commented on #129
It happens the same to me, very strange only happening in some phones. Sometimes it goes away after some reinstalls.

[2019-05-22 16:46] kvasukib commented on #131
Closing this issue. Please feel free to re-open if the issue persists even after calling `appSyncClient.store.clearAll().execute()`.

[2019-05-22 16:46] #131 closed

[2019-05-23 23:02] kvasukib commented on #137
@jamesatfish Sorry for the inconvenience caused. We are tracking this issue at:
https://github.com/aws-amplify/aws-sdk-android/issues/937

I am closing this issue in favor of #937.

[2019-05-23 23:02] #137 closed

[2019-05-25 04:44] mithleshjs commented on #125
@cbommas It also works with API that is not implemented in AppSync.

[2019-05-27 09:49] umarF commented on #154
Similar issue, cant get any subscription event triggered.. but it works on console..
https://stackoverflow.com/questions/56318163/aws-appsync-onupdate-subscription-not-working-on-simulator

[2019-05-27 10:24] umarF commented on #160
Did you get a solution? I am also unable to make the subscription work on Android client ?
https://stackoverflow.com/questions/56318163/aws-appsync-onupdate-subscription-not-working-on-simulator

[2019-05-28 20:51] desokroshan commented on #128
@rahatshahzeb Is this still an issue for you? It is recommended that `id` be of GraphQL scalar type 'ID'. If you have a use case where you absolutely need to have an `id` of type `Int`, please feel free to share it with us so that we can consider supporting it.

[2019-05-29 07:10] norio-agoop opened #185 "Is there any reason not to have any validation of current timestamp?"
**State your question**
Hi, I am using AppSync SDK iOS and Android right now. And I have just realized there is no validation of current timestamp on the Android SDK.
For instance, It will be `AWSAppSyncClientError` on the iOS SDK If some user is trying to make some request with changing timestamp either past or future (approximately +- 1~2min) and It won't make any request after that.

**Provide

[2019-05-29 07:20] norio-agoop commented on #74
@leijdekkers I'm using Rx with AppSync. Please take a look my sample code below.

[code]

[2019-05-29 18:12] desokroshan commented on #185
@norio-agoop Can you please share the use-case you are targeting. Are you using delta-sync or trying to authenticate your requests? By changing the timestamp, do you mean changing the time on the device that is used to make the requests? For iOS, can you please share the stack trace you see when the request is made with modified timestamp?

[2019-05-29 20:09] desokroshan commented on #144
@hms-tuanpham I am able to run my app my app successfully on API level 19. Please note that AppSync SDK depends on okhttp version 3.8.1 and therefore does not require Android 5.0 and higher. Are you specifying a different version of okhttp for your project ?

[2019-05-30 01:09] norio-agoop commented on #185
@desokroshan

I'd like AppSync SDK to validate the user device's timestamp if the user makes some request with AppySync as the iOS SDK do.

I'm not sure what is delta-sync. I'm using Network-Only. No cache. It just likes the REST API.

Okay. Let me share this later. I will upload some screenshots.

[2019-05-30 04:59] norio-agoop commented on #185
@desokroshan
I think that this my fault that this validation is no SDK task. I'm going to close this issue. I am currently using AppSync with Cognito and I think it validates the current timestamp.

[2019-05-30 04:59] #185 closed

[2019-06-03 05:49] DeMoss15 commented on #153
@palpatim @desokroshan any updates?

[2019-06-03 08:29] habahbehbassam commented on #154
We fixed this issue via replace MQTT version from 1.2.1 to 1.2.0 .
Now we use AppSync with version 2.9.0 and MQTT version is 1.2.0 , and it's work.

[2019-06-03 08:29] #154 closed

[2019-06-03 08:49] DeMoss15 opened #187 "IllegalStateException on connect mqtt client"
Starting MqttService fails when application in background

**To Reproduce**
1 Try to execute subscription
2 Lock screen and wait 1-2 min
3 Unlock screen -> Subscription fails

**Environment**
 - AppSync SDK Version: 2.7.9

**Additional context**
[Here](https://stackoverflow.com/questions/46445265/android-8-0-java-lang-illegalstateexception-not-allowed-to-start-service-inten) what I've found about

[2019-06-04 21:21] #128 closed

[2019-06-04 22:10] desokroshan commented on #187
@DeMoss15  This is a know issue with the underlying paho mqtt client and is being tracked in https://github.com/eclipse/paho.mqtt.android/issues/274. The gist is that for Oreo and above, Android OS imposes limitation on what an app can and can not do when in background, one such limitation being that an app cannot start a background service while itself being in background for more than some amoun

[2019-06-04 22:20] desokroshan commented on #153
@DeMoss15 Thanks for reporting the issue. Can you please share some specific reproduction steps such as relevant code snippet and average number of mutations you are running. Any other information that you think you think might help reproduce this issue?

[2019-06-05 01:23] Yegorisa opened #188 "Multiple file upload does not work"
**Bug description**
I have a mutation which includes 4 complex S3ObjectInput but when I call it AppSync client uploads only first one.
[code]
**Expected behavior**
To upload all of the S3ObjectInput objects

**Environment(please complete the following information):**
 - AppSync SDK Version: 2.7.9
 - S3 SDK Version: 2.13.5

[2019-06-05 02:25] Yegorisa commented on #188
I found also a similar issue for JavaScript sdk https://github.com/awslabs/aws-mobile-appsync-sdk-js/issues/161. I suspect Android SDK has the similar one

[2019-06-05 13:48] atthapon-k opened #189 "How do i disable offline mutation?"

[2019-06-05 18:53] #139 closed

[2019-06-05 18:53] #120 closed

[2019-06-05 19:02] desokroshan commented on #188
@Yegorisa Thanks for reporting this. I will investigate the issue and post an update.

[2019-06-06 03:18] Yegorisa commented on #188
@desokroshan I have submitted a pull request with a fix of this issue. [Pull request link](https://github.com/awslabs/aws-mobile-appsync-sdk-android/pull/190)

[2019-06-06 07:45] #187 closed

[2019-06-06 16:49] desokroshan commented on #188
@Yegorisa Thanks for the PR. I will review it soon as I can.

[2019-06-06 20:14] desokroshan commented on #189
@atthapon-k Just to clarify the mutation are not executed when the device is offline. All the mutations that are issued while the device is offline are queued to be replayed when device comes back online. Do you want your mutations to not be queued at all when its offline? We do not have an API to accomplish that as of now? Could you please elaborate on your use-case?

[2019-06-06 22:16] awsed commented on #116
Deprecating fields with the @deprecated annotation is the recommended way. Then you can use the new CloudWatch log insights integration to track field usage (https://aws.amazon.com/blogs/mobile/getting-more-visibility-into-graphql-performance-with-aws-appsync-logs/) and finally remove it when you detect there's no invocation to the deprecated fields. That way you guarantee old clients won't be aff

[2019-06-06 23:42] atthapon-k commented on #189
First of all, thank you for your quick respond.
You understand correctly. l don't want to execute mutation after device back to online that mean my mutation should not be queued while device offline.
Make offline mutation to optional feature, is it possible?

[2019-06-07 16:39] cjami opened #192 "Make GraphQLStoreOperation.Callback public"
From the official docs for an optimistic write we have:

`client.getStore().write(listTodosQuery, data).enqueue(null);`

Currently there is no way to determine the point of success of a `AWSAppSyncClient.getStore().write` operation.

This returns a `GraphQLStoreOperation` on which you **should** be able to enqueue a `GraphQLStoreOperation.Callback` but currently cannot due to this interface not be

[2019-06-07 17:26] desokroshan opened #194 "Update Mutation with null values"
Originally opened by @Crisp3333
**State your question**
I have an application where certain fields can be null. However, I notice updating fields that contains non-null values, cannot be updated to null. A work around is just setting null fields to the string value `"null"` and checking for this string value during query time, or for update mutation. The work a round is not a hassle, but I was jus

[2019-06-07 19:43] desokroshan commented on #192
@cjami Thanks for the PR. I will review soon as I can.

[2019-06-08 20:55] #189 closed

[2019-06-12 06:44] linxu1231 commented on #154
That also worked for me.
Thank you.

[2019-06-12 21:54] #144 closed

[2019-06-13 11:55] Joseph82 opened #197 "Possible conflict between queries and mutations"
Suppose we have the following scenario (taken from the AppSync documentation)

[code]

Suppose, we also have:
- a create mutation query and
- an update mutation query, that allows changing the `priority` field.
Also assume that for every mutation we use an optimistic update.

Now, from a clean scenario (empty database remotely and locally), let's assume we follow these steps:
1. ONLINE, we add a T

[2019-06-19 10:06] mlykotom commented on #70
Hello, any update on this? (it's been quite some time :( )

[2019-06-19 10:15] mlykotom commented on #151
I wanted to try the appsync `sync` method, but I was unable due to wrong generic paramaters in the method. I was trying to follow the documentation [here](https://aws-amplify.github.io/docs/android/api), but the real method has signature:
[code]

Which means, you have to have `D, T, V` generics the same for base query, subscriptions and delta query. But this is not possible, because you will have

[2019-06-20 18:25] #116 closed

[2019-06-21 08:03] mlykotom opened #198 "Sync method wrong signature?"
We use appsync with `kotlin` and wanted to try the `sync` method, but I was unable due to wrong generic paramaters in the method. I was trying to follow the documentation here, but the real method has signature:

[code]
Which means, you have to have `D, T, V` generics the same for base query, subscriptions and delta query. But this is not possible, because you will have different graphql generated

[2019-06-24 20:15] Joseph82 commented on #116
@gitnarqt we are facing a similar dilemma. And also thought the best idea was to add nullable fields (and never remove old fields). However we find out that data saved locally with old schema cannot be read with the new schema.

Imagine an item, stored in the local data store with the record:

{"__typename":"Todo",
"id":"4AAB0D63-1AA3-411D-86F5-0AA226D35369",
"name":"Fix mutation",
"createDateTime

[2019-06-25 07:22] gitnarqt commented on #116
Sorry for the late reply guys.

@awsed thank you for the suggestion! I guess @Joseph82 explained the issue with a detailed example, thank you for that!

@Joseph82 we went through the AppSync code and found out that there is a method called `fieldValue(Record record, ResponseField field)` that throws a NullPointerException with a message `"Missing value: " + field.fieldName()`. We forked the reposi

[2019-06-25 08:35] Joseph82 commented on #116
Hi @gitnarqt thank you for replying.

We also thought about changing the source code, but I think a better option would be to include the change into the main repository. Did you try to make a PR?

[2019-06-25 08:45] gitnarqt commented on #116
@Joseph82 you're most welcome! Just performed one: https://github.com/awslabs/aws-mobile-appsync-sdk-android/pull/199

[2019-06-25 12:40] Joseph82 commented on #116
Nice :) Thank you @gitnarqt

[2019-06-25 15:44] palpatim commented on #198
@mlykotom

We don't yet officially support Kotlin, but if you're aware of an annotation or structure in the Java code that would cause the Kotlin signature to be properly generated, please feel free to submit a pull request. Ideally, such a PR would not change the Java API, but I admit I'm not well-versed in Kotlin/Java interoperability, so I'm not clear if such an outcome is achievable.

[2019-06-26 15:52] svanegas commented on #189
@atthapon-k, did you do something in particular to achieve this? or some resolution you would like to share? I would appreciate it

[2019-06-26 20:54] Joseph82 commented on #197
Does anybody has any idea?

[2019-06-27 11:25] mlykotom commented on #133
It's not just logging, but there **should be**  some cancellation method for it, because otherwise if having appsync client just in one activity, when going back, we cannot cancel all the offline calls... if going on that screen again, you practically create another client without cancelling previous calls...

[2019-06-27 20:17] walterg2 commented on #194
This is also occurring on `aws-android-sdk-appsync` version `2.10.0`.

It _looks_ as though when the Apollo client is writing the JSON, it has a boolean to determine if it should serialize `null` values. When not set, it skips those in its `JSONWriter` class. Although, someone closer to the codebase may want to verify what I just said. 😄

[2019-06-28 04:15] Crisp3333 opened #200 "Add sort options to graphql schema"
**Is your feature request related to a problem? Please describe.**
For cases where a query result is returned they are automatically sorted in ascending order. There should be a clear and concise way of getting a sort in descending order.I moved from direct DynamoDB querying to implementing my app in AppSync only to find out an atomic operation is hard to figure out how to implement. I have looked

[2019-06-28 23:46] Crisp3333 commented on #200
Currently I just log into the aws appsync console choose schema and look for the resolver under query and and just add `"scanIndexForward": false`. Doing this I just have to remember to go back and update it again after each `amplify push`.

[2019-06-29 02:05] Capotasto commented on #133
@mlykotom I don't fully understand what you are doing with appsync but I think you should not have appsync client instance for each activity. I create appsync client instance in `Application class` once and use that instance  for each view's.

[2019-07-04 11:15] ReneFerrari opened #201 "Missing AndroidX support?"
**State your question**
I have created a new project with AndroidX and Jetifier enabled and only added the AWSAppSync dependency. When I built the App I had been facing the following error:

More detailed:

[code]
**Provide code snippets (if applicable)**
My current solution is the following:

**gradle.properties**
[code]
**build.gradle (app)**
[code]
(All I did was add dependencies for AppSync an

[2019-07-16 21:17] palpatim commented on #129
We've made some fixes to the cursor handling (e.g., see #141) since 2.7.8. Is this still reproducible in the latest version of the library?

[2019-07-17 03:05] btilbrook-nextfaze opened #202 "Uncaught "Call is cancelled" subscription exception"
**Describe the bug**
An uncaught exception in the subscription code is crashing Android apps. There is evidently no way to prevent this from occurring.

**To Reproduce**
Not commonly reproducable. Might be a multithreading problem. However, the code in question is obviously a poor way to handle the problem.

**Expected behavior**
The exception is caught and logged or ignored.

**Environment**
 - A

[2019-07-17 14:39] palpatim commented on #200
@Crisp3333 Thanks for the request and the detailed description of your use case. It seems like this is something we'll need to address either on the CLI side. Since that repo is in a different GitHub org, I've opened issue https://github.com/aws-amplify/amplify-cli/issues/1851 to track this request, and am closing this one.

[2019-07-17 14:39] #200 closed

[2019-07-17 17:17] palpatim commented on #202
@btilbrook-nextfaze

Thanks for the report. If you have any context around cases where you have seen this crash (e.g., what user activity was in process at the time, or led up to the crash), that would be helpful.

[2019-07-17 22:08] btilbrook-nextfaze commented on #202
One thing I can say is it seems to be happening when a delta sync subscription is cancelled very shortly after starting.

[2019-07-17 23:07] andrey-chorniy opened #203 "AppSync submit mutations with big delays"
Our application uses AWSAppSyncClient and enqueues mutations to push data to the server

On one of the installatons, mutations are successfully enqueued to the AppSync (on the device, so they are saved to AppSync DB) but synced to the AppSync backend with huge delays (40 - 120 minutes or even more)
Please note that each (40-120) minutes app send **only one mutation** and the next one is sent after

[2019-07-18 13:39] nchorniy opened #204 "AWSAppSyncClient should load records from local db asynchronously"
**Problem description**
[Documentation points out a way](https://aws-amplify.github.io/docs/android/api#client-initialization) to create `AWSAppSyncClient` on the main thread. However, internally, when the `AWSAppSyncClient` instance is created, it also creates an instance of `PersistentOfflineMutationManager` which loads the records from db `fetchPersistentMutationsList()` (and in described case

[2019-07-18 14:00] palpatim commented on #203
@andrey-chorniy Thanks for reporting this issue. We'll investigate and update when we have some insight.

In the meantime, as @nchorniy referenced on #204, is there any particular difference in the state of the queues between the devices exhibiting different behavior? For example, does the "slow mutations" device have a large number of mutations in the queue, while the other device does not?

[2019-07-18 14:00] andrey-chorniy opened #205 "AppSync S3 upload should fail in case uploaded file does not exists"
**Describe the bug**
AppSync tries to re-submit mutation with S3 upload which has a reference to non-existing File.

**To Reproduce**
1. Create mutation which will upload file to S3
2. Specify file which does not exist (or delete it before submitting mutation)

=> `AppSyncCustomNetworkInvoker.executeRequest()` will try to execute `s3ObjectManager.upload` and it will fail with `AmazonClientExceptio

[2019-07-18 14:00] palpatim commented on #204
@nchorniy Thanks for pointing out the issue, we'll look at this and update here when we have more info.

[2019-07-18 14:26] andrey-chorniy commented on #203
We estimate the max-size of unsynced mutations in his queue as 1440 on this moment (it for sure can be less)
App generates about ~290 (up to 300) events (mutations) per day

We have two different app-sync clients in the app (another AppSyncClient has different credentials provider) and we submit more than 300 mutations per-day through it (400 - 600 or even more). In either case - that other AppSyn

[2019-07-18 17:30] nchorniy commented on #203
**Update**

Based on observations of the AppSync behavior on this device we think that the following could happen:
1. Starting more than a month ago, due to failure to get AWS credentials (`AWSMobileClient.getCredentials()`) AppSync has stored a lot of records in local database
1. Our custom setting of `mutationQueueExecutionTimeout` was `Long.MAX_VALUE / 2` (which was done to meet the requirement

[2019-07-18 21:06] dabitdev opened #206 "Disabling cache not working in Appsync / appollo"
**Describe the bug**
Setting the ResponseFecther policy to NETWORK_ONLY still returns cached data

**To Reproduce**
Steps to reproduce the behavior:
1. Create a AWSAppSyncClient
2. Call a request adding  query.responseFetcher(AppSyncResponseFetchers.CACHE_AND_NETWORK)
3. Make sure that the response has changed after
4. Call again request adding
query.responseFetcher(AppSyncResponseFetchers.NETWORK

[2019-07-19 18:41] nchorniy commented on #203
**Update 2**
We identified a few new facts which we need to outline to check if they may affect this issue.
In the comment above we've described the issue - app was restarted and after that it successfully pushed records which were previously stored in appsync's local android db, however no data collected after reboot was synced. Let's name it a **Problem 2**.

We've noticed that we've created `AW

[2019-07-19 23:45] andrey-chorniy commented on #203
The device on which the problem is reproduced got our updated app with the following change: no multiple `AWSAppSyncClient` instances are created.
However, the problem still appears. And here is our other findings

- AppSync has synced a lot of records from persistence offline storage
- AppSync has also synced exactly one record queued after the app upgrade, however:
- although this one record app

[2019-07-22 18:06] Joseph82 commented on #197
Is anybody aware of this issue?

[2019-07-23 06:08] btilbrook-nextfaze opened #207 "Delta sync base query always runs again after process restart"
**Describe the bug**
The base query executes regardless of whether the elapsed time exceeds the configured base refresh interval, if the process is restarted. This is because the cache key used is unstable and based on `toString()`.

The specific API in use here is:

[code]

**To Reproduce**
- Configure a delta sync operation with a base query, subscription, and delta, and base refresh interval of

[2019-07-23 06:08] btilbrook-nextfaze commented on #207
Appears to be a similar issue to #103.

[2019-07-24 22:36] desokroshan commented on #206
@dabitdev Thanks for reaching out. I am taking a look at the issue and get back to you.

[2019-07-29 15:36] Joseph82 commented on #127
Still having the problem. I tried with the latest version:

`com.amazonaws:aws-android-sdk-appsync-gradle-plugin:2.10.0`

but the mapping doesn't work anymore.